<div class="row one-images">
  <div class="col-lg-6 col-md-6 col-sm-12 mb-c">
    <div class="img-panel">
      
      <div class="img-cls">

        <div class="image-cav">
          <div id="reportImageViewerOne" class="img-container" oncontextmenu="return false;"></div>
          <input
            (change)="reportImage_changeHandler($event)"
            style="display:block;"
            type="file"
            class="form-control-file"
          />
          <ngx-file-drop [ngStyle]="reportImageViewer.panHorizontal ? {'z-index':'-1'} : {'z-index':'0'}" class="file-drop-txt" multiple="false" directory="false" dropZoneLabel="Report" (onFileDrop)="reportImage_dropHandler($event)">
          </ngx-file-drop>
        </div>

        <div class="tools">
          <img src="assets/images/refresh.png" alt="" />
          <img src="assets/images/cross.jpg" alt="" (click)="delete_clickHandler('reportImageViewer')" />
          <img id="report-zoom-in" src="assets/images/plus.jpg" alt="" />
          <img id="report-zoom-out" src="assets/images/minus.jpg" alt="" />
          <img src="assets/images/hand.jpg" (click)="pan_clickHandler('reportImageViewer')" alt="" />
          <img src="assets/images/save-image.png" alt="" />
        </div>
      </div>

      <div class="checkblock">
        <input type="checkbox" />
        <label class="mlb">No Imagery Available</label>
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-12 mb-c">
    <div class="img-panel img-p-2">

      <div class="img-cls">
        
        <div class="image-cav">
          <div id="topImageViewerOne" class="img-container" oncontextmenu="return false;"></div>
          <input
            (change)="topImage_changeHandler($event)"
            style="display:block;"
            type="file"
            class="form-control-file"
          />
        
          <ngx-file-drop class="file-drop-txt" multiple="false" directory="false" dropZoneLabel="Top" (onFileDrop)="topImage_dropHandler($event)">
 
          </ngx-file-drop>
        </div>

        <div class="tools">
       
          <img src="assets/images/cross.jpg" alt="" (click)="delete_clickHandler('topImageViewer')" />
        </div>
        
      </div>

    </div>
  </div>
</div>
