.modal-header {
    background-color: #818285;
    padding: 0px;
  }
  .modal-header .close {
    padding: 0px 8px;
    border: 1px #545557 solid;
    margin: 0px;
  }
  .modal-title {
    text-align: center;
    width: 93%;
    font-size: 15px;
    color: #000;
  }
  
  .modal-body {
    font-size: 14px;
    color: #000;
  }
  .modal {
    top: 100px;
    left: 25%;
  }
  .modal-dialog {
    width: 435px;
  }