<div class="modal-header">
    <h5 class="modal-title pull-left">Submit Report Failure</h5>
    <button
      type="button"
      class="close pull-right"
      aria-label="Close"
      (click)="ok_clickHandler()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
</div>
  
<div class="modal-body">
    <p *ngIf="MS.report.SUBMIT_ERROR !== null">{{MS.report.SUBMIT_ERROR}}</p>
</div>
  
<div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="ok_clickHandler()">
      Ok
    </button>
</div>