<div class="card text-center menu-current-values-line-editor">
  <div class="card-body">
    <div class="row">
      <div class="col">
        <ul class="drplist">
          <li>
            <select class="form-control drp" (change)="
            buildingsGroup_changeHandler( $event.target.value )">
              <option [selected]="MS.menu_line_editor.BUILDING_GROUP_SELECTED == i" [value]="'Structure:' + i" *ngFor="let structure of MS.project_information.BUILDINGS; let i = index">
                {{structure["Name"]}}
              </option>
            </select>
            <span>Structure</span>
          </li>
          <li>
            <fieldset>
              <p>
                <input class="sr-only radio-toggle" #inputLineType id="lineType-toggle" (click)="openDropDown()" name="lineType" type="radio" />
                
                <label #labelLineType class="select-toggle radio-toggle" for="lineType-toggle" (click)="openDropDown()">
                  <b class="sh-indicator">
                    <fa-icon [icon]="faAngleDown"></fa-icon>
                  </b>
                  <i class="sr-only">select</i>
                </label>


                <span class="select dropDownResp">
                  <ng-container *ngFor="let lineType of MS.LINE_TYPES; let i = index">
                    <input class="sr-only" [id]="lineType.NAME" name="lineType" type="radio" (click)="openDropDownHide()" />
                    <label [for]="lineType.NAME" (click)="lineType_clickHandler( lineType.LINE_TYPES_REF );openDropDownHide()">
                      <div class="border-value" [ngStyle]="{'border-bottom': '2px '+ lineType.COLOR +' '+ lineType.BORDER_TYPE +' '}">&nbsp;</div>
                      <div class="value-text" #dropDownLineType>{{lineType.NAME}}</div>
                    </label>
                  </ng-container> 
                </span>
                
              </p>
            </fieldset>
            <span>Linetype</span>
          </li>
          <li>
            <select class="form-control drp" (change)="pitch_changeHandler($event.target.value)">
              <option selected="selected" value="0">0:12 (Flat)</option>
              <option value="1">1:12 (Flat)</option>
              <option value="2">2:12 (Low)</option>
              <option value="3">3:12 (Low)</option>
              <option value="4">4:12</option>
              <option value="5">5:12</option>
              <option value="6">6:12</option>
              <option value="7">7:12 (Steep)</option>
              <option value="8">8:12 (Steep)</option>
              <option value="9">9:12 (Steep)</option>
              <option value="10">10:12 (Steep)</option>
              <option value="11">11:12 (Steep)</option>
              <option value="12">12:12 (Steep)</option>
              <option value="13">13:12 (Steep)</option>
              <option value="14">14:12 (Steep)</option>
              <option value="15">15:12 (Steep)</option>
              <option value="16">16:12 (Steep)</option>
              <option value="17">17:12 (Steep)</option>
              <option value="18">18:12 (Steep)</option>
              <option value="19">19:12 (Steep)</option>
              <option value="20">20:12 (Steep)</option>
              <option value="22">22:12 (Steep)</option>
              <option value="24">24:12 (Steep)</option>
              <option value="26">26:12 (Steep)</option>
              <option value="28">28:12 (Steep)</option>
              <option value="30">30:12 (Steep)</option>
              <option value="32">32:12 (Steep)</option>
              <option value="34">34:12 (Steep)</option>
              <option value="36">36:12 (Steep)</option>
              <option value="38">38:12 (Steep)</option>
              <option value="40">40:12 (Steep)</option>
              <option value="42">42:12 (Steep)</option>
              <option value="44">44:12 (Steep)</option>
              <option value="46">46:12 (Steep)</option>
              <option value="48">48:12 (Steep)</option>
              <option value="52">52:12 (Steep)</option>
              <option value="56">56:12 (Steep)</option>
              <option value="60">60:12 (Steep)</option>
              <option value="64">64:12 (Steep)</option>
              <option value="68">68:12 (Steep)</option>
              <option value="72">72:12 (Steep)</option>
              <option value="76">76:12 (Steep)</option>
              <option value="80">80:12 (Steep)</option>
              <option value="84">84:12 (Steep)</option>
              <option value="88">88:12 (Steep)</option>
              <option value="92">92:12 (Steep)</option>
              <option value="96">96:12 (Steep)</option>
              <option value="100">100:12 (Steep)</option>
            </select>
            <span>Pitch</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>