.menu-current-values-line-editor {
  padding-left: 0px !important;
  width: 218px;

  .drp {
    width: 126px;
    height: 19px;
    border-radius: 1px !important;
    margin-bottom: 1px;
    font-size: 10px;
    float: left;
    margin-top: 1px;
    padding: initial;
  }
  .drplist {
    list-style: none;
    line-height: 0.1em;
    font-size: 12px;
    margin-left: -40px !important;
  }
  .drplist li {
    width: 100%;
    float: left;
    text-align: left;
  }
  .drplist span {
    float: left;
    margin-top: 10px;
    margin-left: 4px;
  }

  .drplist select {
    line-height: 0.1em;
    margin-bottom: 1px;
    border-radius: none !important;
  }

  .selectdiv {
    position: relative;

    float: left;
  }

  .selectdiv {
    position: relative;

    float: left;
  }

  .selectdiv:after {
    content: "\f078";
    font: normal normal normal 12px/1 FontAwesome;
    color: #000;
    right: 11px;
    top: 0px;
    height: 21px;
    padding: 3px 0px 0px 4px;
    border-left: 1px solid #000;
    position: absolute;
    pointer-events: none;
  }

  select::-ms-expand {
    display: none;
  }

  .selectdiv select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    display: block;
    width: 130px;
    max-width: 130px;
    height: 22px;
    float: right;
    margin: 0px 0px;
    padding: 0px 0px;
    font-size: 12px;
    line-height: 1.75;
    color: #333;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #000;
    -ms-word-break: normal;
    word-break: normal;
  }

  /* ********************************************** */
  /* Works like the <option/> tag */
  label {
    background: #fff;
    color: #666;
    display: block;
    padding: 0px 3px 0px 3px;
  }
  /* Works like the <select/> tag */
  .select {
    background: #fff;
    border: solid 1px #999;
    z-index: 1;
    margin-top: 0px !important;
    margin-left: 0px !important;
  }
  .select-toggle,
  .select,
  .select label {
    left: 0;
    line-height: 1.7em;
    position: absolute;
    right: 0;
    top: 0;
  }
  /* Toggle for the select box opening and closing */
  .select-toggle,
  .select-toggle:hover {
    background: none;
    text-align: right;
    z-index: 2;
    border: 1px #000 solid;
  }
  /* For keyboard navigation: highlights the select box, when the toggle radio button is in focus */

  /* Select term toggle (open) */
  .radio-toggle:checked + .select-toggle {
    left: auto;
  }
  /* The downward pointing triangle inside the select toggle */
  .sh-indicator {
    display: inline-block;
    line-height: 0;
    z-index: 0;
  }

  label:hover,
  label:focus {
    background: #ccc;
    cursor: pointer;
  }
  /* This shuffles the sorting order of the stack of "option" tags, so that either the first, or the selected is on top. */
  .select label:first-of-type,
  .select input:checked + label {
    z-index: 1;
  }
  /* Once the toggle has been triggered, the fake option tags stop stacking on top of each other, and stack vertically. */
  .radio-toggle:checked ~ .select label {
    position: static;
  }
  /* The container for the select box - leaves a gap for the element (not ideal) */
  p {
    min-height: 0.6em;
    position: relative;
  }
  body {
    font-family: Verdana, sans-serif;
  }
  /* Visually hidden only */
  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
  }

  .border-value {
    width: 19%;
    height: 2px;
    margin-top: 9px;
    float: left;
    margin-right: 1px;
  }
  .value-text {
    width: 65%;
    float: left;
    color: #000;
    font-size: 10px;
    overflow: hidden;
  }
  fieldset {
    width: 126px;
    float: left;
  }
  .Eave {
    border-bottom: 2px #f73e2d solid;
  }
  .Rake {
    border-bottom: 2px #73e335 solid;
  }
  .Ridge {
    border-bottom: 2px #fbb03b solid;
  }
  .Hip {
    border-bottom: 2px #49fafc solid;
  }
  .Valley {
    border-bottom: 2px #694891 solid;
  }
  .DripEdge {
    border-bottom: 2px #417af8 solid;
  }
  .HeadwallFlashing {
    border-bottom: 2px #f73e2d dashed;
  }
  .StepFlashing {
    border-bottom: 2px #73e335 dashed;
  }
  .SlopeChange {
    border-bottom: 2px #808080 dotted;
  }

  .Parapet {
    border-bottom: 2px #eb85fb solid;
  }
  .Coping {
    border-bottom: 2px #a0375d solid;
  }

  .Perimeter {
    border-bottom: 2px #000000 solid;
  }

  .Area {
    border-bottom: 2px #808080 solid;
  }
  .Drawing {
    border-bottom: 2px #cccccc solid;
  }
}
.dropDownResp {
  position: relative !important;
  width: 100%;
}
