<div class="modal-header">
  <h5 class="modal-title pull-left">Close Project</h5>
</div>

<div class="modal-body">
  <div class="row">
      <div class="col">Do you want to close the project?</div>
  </div>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-primary" (click)="ok_clickHandler()">
    OK
  </button>
  <button
    type="button"
    class="btn btn-outline-primary"
    (click)="bsModalRef.hide()"
  >
    Cancel
  </button>
</div>
