<div class="card text-center menu-save">
  <div class="card-body">
    <div class="row">
      <div class="col {{ align_btn_enabled == true ? 'action-hover' : '' }} ">
        <a
          href="javascript:;"
          class="text-center"
          (click)="align_clickHandler()"
        >
          <img src="assets/images/align-2.png" alt="" /> <br />
          <span class="">Align</span>
        </a>
      </div>
      <div
        class="col {{ measure_btn_enabled == true ? 'action-hover' : '' }} "
      >
        <a
          href="javascript:;"
          class="text-center"
          (click)="measure_clickHandler()"
        >
          <img src="assets/images/scale.jpg" class="img" alt="" /> <br />
          <span>Scale</span>
        </a>
      </div>
    </div>
  </div>
</div>
