<div class="card text-center align-scale-main">
  <div class="card-body">
    <div class="row">
      <div class="col input-area">
        <div class="align-scale-input">
          <input
            #lengthInput
            (input)="inputLength_changeHandler(lengthInput.value)"
            autocomplete="off"
            type="text"
            name="line"
            [value]="MS.input_scaleLength.inputLength"
            placeholder="1"
            mask="0*.00"
          />
        </div>
        <div class="align-scale">Length</div>
      </div>
      <div class="col feet">Feet</div> 
    </div>
  </div>
</div>
