.align-scale-main {
  width: 200px;
  margin-left: 300px;
}

.align-scale-main input {
  width: 69px;
  text-align: center;
  font-size: 12px;
  padding: 0px;
  margin-top: 27px;
}

.feet {
  color: #000;
  text-decoration: none;
  font-size: 10px;
  text-align: left;
  padding-top: 30px;
  margin-left: -35px;
}

.align-scale {
  color: #000;
  text-decoration: none;
  font-size: 10px;
}

.lengthInputBorder {
  border: 1px solid #000;
}

.lengthInputBorderError {
  border: 2px red solid;
}
@media only screen and (max-width: 600px) {
  .align-scale-main {
    margin-left: 70px;
  }
}
