<div class="row">
    <div class="col">
        <div class="card mx-auto" style="width: 420px;">
            <div class="card-header">For Tracing</div>
            <div class="card-body text-center">
                <label for="westImage">
                    <img [src]="westImageURL" width="400"> <br/>
                    <input (change)="westImage_changeHandler($event)" style="display: none;" type="file" class="form-control-file" id="westImage" name="westImage">
                    <fa-icon [icon]="faImage" size="5x"></fa-icon>
                    <br>Browse
                </label>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card mx-auto" style="width: 420px;">
            <div class="card-header">For Report</div>
            <div class="card-body text-center">
                <label for="eastImage">
                    <img [src]="eastImageURL" width="400"> <br/>
                    <input (change)="eastImage_changeHandler($event)" style="display: none;" type="file" class="form-control-file" id="eastImage" name="eastImage">
                    <fa-icon [icon]="faImage" size="5x"></fa-icon>
                    <br>Browse
                </label>
                
            </div>
        </div>
    </div>
</div>