.menu-timer {

  width: 120px;
  position: absolute;
  right: 0;
  top: 0;

  .timerheading {
    font-size: 14px;
    color: #ffffff;
    margin-top: 9px;
  }
  
  .timerdigits {
    background-color: #00ff00;
    padding: 3px 23px;
    font-size: 14px;
    border: 1px #000 solid;
    font-weight: bolder;
  }

}