<div class="card text-center menu-timer">
  <div class="card-body">

    <div class="timerheading">Time Until Due</div>
    
    <div class="timerdigits">
      <countdown #countdown [config]="moreThan24Hours"></countdown>
    </div>

  </div>
</div>
