.menu-zoom {
  font-size: 12px;
  margin-left: 15px;
  margin-right: 15px;
  width: 130px;
}

.menu-zoom label {
  margin-left: 5px;
}

.menu-zoom .col {
  width: 80px;
}

.action-content {
  width: 100%;
}

.action-content:hover {
  width: 100% !important;
  background-color: #ccc;
}

.action-content a {
  font-size: 12px;
  text-decoration: none;
  color: #000;
  width: 100%;
  line-height: 1.5;
}

.col-1 {
  max-width: 7% !important;
}

.clm ul li a {
  color: black;
}

.clm ul li img {
  margin: 0 auto;
}

.lbl {
  margin-left: 21px !important;
  margin-top: -15px;
  display: block;
}
.divimg {
  width: 20px;
  text-align: center;
}

.input-menu {
  width: 30px;
  font-size: 10px;
  border: none !important;
  border-radius: 0px !important;
  text-align: center;
  color: #000;
  border: 1px #000 solid;
  margin-top: 2px;
  margin-bottom: 2px;
}

.last-col .lbl2 {
  margin-left: 33px !important;
  margin-top: -16px;
  color: #000 !important;
  font-size: 10px;
}

.mrg-left {
  margin-left: 8px !important;
}

.mrg-left-2 {
  margin-left: 30px !important;
}
.setting-btn {
  cursor: pointer;
}

.col-cust-1 {
  flex-grow: 1;
  width: 75px;
}

.col-cust-2 {
  flex-grow: 1;
  width: 90px;
}

.col-cust-3 {
  flex-grow: 1;
  width: 80px;
}

.col-cust-4 {
  flex-grow: 1;
  width: 58px;
}
.col-cust-5 {
  flex-grow: 1;
  width: 120px;
  text-align: left;
}

@media only screen and (max-width: 600px) {
}
