<div class="card text-center menu-zoom">
  <div class="card-body">
    <div class="row">
      <div class="col-cust-3">
        <div class="action-content">
          <a href="javascript:;" class="text-left" (click)="in_clickHandler()">
            <div class="divimg">
              <img src="assets/images/icons/zoom-in.png" alt="" />
            </div>
            <div class="lbl">Zoom In</div>
          </a>
        </div>
        <div class="action-content">
          <a href="javascript:;" class="text-left" (click)="out_clickHandler()">
            <div class="divimg">
              <img src="assets/images/icons/zoom-out.png" alt="" />
            </div>
            <div class="lbl">Zoom Out</div>
          </a>
        </div>
        <div
          class="action-content {{
            window_btn_enabled == true ? 'action-content-hover' : ''
          }} "
        >
          <a
            href="javascript:;"
            class="text-left"
            (click)="window_clickHandler()"
          >
            <div class="divimg">
              <img src="assets/images/icons/window.png" alt="" />
            </div>
            <div class="lbl">Window</div>
          </a>
        </div>
      </div>

      <div class="col-cust-4">
        <div
          class="action-content {{
            extents_btn_enabled == true ? 'action-content-hover' : ''
          }} "
        >
          <a
            href="javascript:;"
            class="text-left"
            (click)="extents_clickHandler()"
          >
            <div class="divimg">
              <img src="assets/images/icons/extents.png" alt="" />
            </div>
            <div class="lbl">Extents</div>
          </a>
        </div>
        <div
          class="action-content {{
            pan_btn_enabled == true ? 'action-content-hover' : ''
          }} "
        >
          <a href="javascript:;" class="text-left" (click)="pan_clickHandler()">
            <div class="divimg">
              <img src="assets/images/icons/pan1.png" alt="" />
            </div>
            <div class="lbl">Pan</div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
