<div class="engine-wrapper">
  
  <canvas #rendererCanvas id="renderCanvas"
    (click)="click($event)" 
    (dblclick)="dblclick($event)" 
    (mousedown)="mousedown($event)" 
    (mouseup)="mouseup($event)" 
    (mouseout)="mouseout($event)"
    (mouseenter)="mouseenter($event)"
    (touchstart)="touchstart($event)" 
    (touchend)="touchend($event)" 
    (mousemove)="mousemove($event)" 
    (touchmove)="touchmove($event)"
    (keydown)="keydown($event)"
    (keyup)="keyup($event)" >
  </canvas>
  
</div>
