.engine-wrapper {
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;

  #renderCanvas {
    width: 100%;
    height: calc(100vh - 134px) !important;
    touch-action: none;
    cursor: none;
  }

  #renderCanvas:focus {
    outline: none;
  }
}

.page-4 .engine-wrapper #renderCanvas {
  width: 65% !important;
  height: calc(100vh - 134px) !important;
  float: right;
}

@media only screen and (max-width: 600px) {
  .page-4 .engine-wrapper #renderCanvas {
    margin-top: 15px;
    width: 100% !important;
    height: 100% !important;
    float: right;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .page-4 .engine-wrapper #renderCanvas {
    width: 100% !important;
    height: 100% !important;
    float: right;
  }
}

  .selectionBox {
    border: 1px solid #b5d400;
    background-color: rgba(248, 245, 37, 0.3);
    position: fixed;
  }

  .selectionBoxHide {
    display: none;
  }

.dimensions {
  background-color: hsla(120, 1%, 23%, 0.5);
  color: #fff;
  font-size: 10px;
}
