<div class="card text-center menu-goto">
  <div class="card-body">
    <div class="row">
      <div class="col text-right">
        <a
          href="javascript:;"
          (click)="previous_clickHandler()"
          *ngIf="MS.COMPONENT_ID > 0"
        >
          <img src="assets/images/back.png" alt="" />
        </a>
        <a href="javascript:;" *ngIf="MS.COMPONENT_ID == 0">
          <img src="assets/images/back50.png" alt="" />
        </a>
      </div>
      <div class="col text-left">
        <a
          href="javascript:void(0);"
          (click)="next_clickHandler()"
          *ngIf="MS.COMPONENT_ID < 5"
        >
          <img src="assets/images/next.png" alt="" />
        </a>
        <a href="javascript:void(0);" *ngIf="MS.COMPONENT_ID == 5">
          <img src="assets/images/next50.png" alt="" />
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <select
          class="select select-dropDown"
          name="goto"
          id="goto"
          (change)="navigate_changeHandler($event.target.value)"
        >
          <option value="0" [selected]="MS.COMPONENT_ID == 0">
            Project Information
          </option>
          <option value="1" [selected]="MS.COMPONENT_ID == 1">Imagery</option>
          <option value="2" [selected]="MS.COMPONENT_ID == 2">Align & Scale</option>
          <option value="3" [selected]="MS.COMPONENT_ID == 3">Draw Lines</option>
          <option value="4" [selected]="MS.COMPONENT_ID == 4">Assign Planes</option>
          <option value="5" [selected]="MS.COMPONENT_ID == 5">Reports</option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col navigate-text">Navigate</div>
    </div>
  </div>
</div>
