.modal-header {
  background-color: #818285;
  padding: 0px;
}
.modal-header .close {
  padding: 0px 8px;
  border: 1px #545557 solid;
  margin: 0px;
}
.modal-title {
  text-align: center;
  width: 93%;
  font-size: 15px;
  color: #000;
}
.colorBtn {
  border: 1px #f8ab39 solid !important;
}
.col-bg-1 {
  border: 1px #000 solid;
  height: 35px;
  background-color: #ffffff;
  cursor: pointer;
}
.col-bg-2 {
  border-top: 1px #000 solid;
  border-bottom: 1px #000 solid;
  border-right: 1px #000 solid;
  height: 35px;
  background-color: #cccccc;
  cursor: pointer;
}
.col-bg-3 {
  border-top: 1px #000 solid;
  border-bottom: 1px #000 solid;
  border-right: 1px #000 solid;
  height: 35px;
  background-color: #999999;
  cursor: pointer;
}
.col-bg-4 {
  border-top: 1px #000 solid;
  border-bottom: 1px #000 solid;
  border-right: 1px #000 solid;
  height: 35px;
  background-color: #666666;
  cursor: pointer;
}
.col-bg-5 {
  border-top: 1px #000 solid;
  border-bottom: 1px #000 solid;
  border-right: 1px #000 solid;
  height: 35px;
  background-color: #333333;
  cursor: pointer;
}
.col-bg-6 {
  border-top: 1px #000 solid;
  border-bottom: 1px #000 solid;
  border-right: 1px #000 solid;
  height: 35px;
  background-color: #000000;
  cursor: pointer;
}

.checkbox-title {
  width: 50%;
  float: left;
}
.color-boxes {
  display: flex;
}
.modal-body {
  font-size: 14px;
  color: #000;
}
.modal {
  top: 100px;
  left: 25%;
}
.modal-dialog {
  width: 435px;
}
.modal-body .row {
  padding-top: 5px;
  padding-bottom: 5px;
}
.button-div {
  padding-top: 15px;
}
.button-div button {
  border-radius: 25px;
  padding: 7px 12px;
}
.auto-save {
  padding-top: 8px;
}
.bg-color-left {
  padding-top: 7px;
}
.cross-heading {
  padding-top: 20px;
}

input[type="range"] {
  -webkit-appearance: none;
  margin: 18px 0;
  width: 100%;
  height: 25px;
  border-left: 2px #000 solid;
  border-right: 2px #000 solid;
}
input[type="range"]:focus {
  outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #000;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type="range"]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 28px;
  width: 8px;
  border-radius: 3px;
  background: #555;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -14px;
}
input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #000;
}
input[type="range"]::-moz-range-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #000;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type="range"]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 28px;
  width: 8px;
  border-radius: 3px;
  background: #555;
  cursor: pointer;
}
input[type="range"]::-ms-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type="range"]::-ms-fill-lower {
  background: #000;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type="range"]::-ms-fill-upper {
  background: #000;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type="range"]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 28px;
  width: 8px;
  border-radius: 3px;
  background: #555;
  cursor: pointer;
}
input[type="range"]:focus::-ms-fill-lower {
  background: #000;
}
input[type="range"]:focus::-ms-fill-upper {
  background: #000;
}
