<div class="modal-header">
  <h5 class="modal-title pull-left">Settings</h5>
  <button
    type="button"
    class="close pull-right"
    aria-label="Close"
    (click)="bsModalRef.hide()"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">
  <div class="row">
    <div class="col-6 bg-color-left">Background Color:</div>
    <div class="col-6">
      <div class="color-boxes">
        <div class="col col-bg-1" [ngClass]="{'colorBtn': MS.settings.SELECTED_INDEX_BACKGROUND_COLOR == 1}"
          (click)="backgroundColor_clickHandler(1)">&nbsp;</div>
        <div class="col col-bg-2" [ngClass]="{'colorBtn': MS.settings.SELECTED_INDEX_BACKGROUND_COLOR == 2}"
          (click)="backgroundColor_clickHandler(2)">&nbsp;</div>
        <div class="col col-bg-3" [ngClass]="{'colorBtn': MS.settings.SELECTED_INDEX_BACKGROUND_COLOR == 3}"
          (click)="backgroundColor_clickHandler(3)">&nbsp;</div>
        <div class="col col-bg-4" [ngClass]="{'colorBtn': MS.settings.SELECTED_INDEX_BACKGROUND_COLOR == 4}"
          (click)="backgroundColor_clickHandler(4)">&nbsp;</div>
        <div class="col col-bg-5" [ngClass]="{'colorBtn': MS.settings.SELECTED_INDEX_BACKGROUND_COLOR == 5}"
          (click)="backgroundColor_clickHandler(5)">&nbsp;</div>
        <div class="col col-bg-6" [ngClass]="{'colorBtn': MS.settings.SELECTED_INDEX_BACKGROUND_COLOR == 6}"
          (click)="backgroundColor_clickHandler(6)">&nbsp;</div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-6 cross-heading">Crosshair Size:</div>
    <div class="col-6">
      <input type="range" min="10" max="1350" step="10" class="slider" [value]="MS.settings.CROSSHAIR_SIZE" (input)="crosshair_changeHandler($event.target.value)" />
    </div>
  </div>
  <div class="row">
    <div class="col-6">Dimensions:</div>
    <div class="col-6">
      <div class="checkbox-title">
        <input type="checkbox" checked (click)="dimStandard_clickhandler($event)"  [checked]="MS.settings.DIMENSIONS_STANDARD" /> Standard
      </div>
      <div class="checkbox-title"><input type="checkbox" (click)="dimMetric_clickhandler($event)"  [checked]="MS.settings.DIMENSIONS_METRIC" /> Metric</div>
    </div>
  </div>
  <div class="row button-div">
    <div class="col-5 auto-save">
      Auto Save <input type="checkbox" (click)="saveSCD_clickhandler($event)" [checked]="MS.settings.AUTO_SAVE"/> 
    </div>
    <div class="col-3"><button>Save List</button></div>
    <div class="col-3"><button>Hotkeys</button></div>
  </div>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-primary" (click)="ok_clickHandler()">
    OK
  </button>
  <button
    type="button"
    class="btn btn-outline-primary"
    (click)="bsModalRef.hide()"
  >
    Cancel
  </button>
</div>
