body {
  display: block;
}
#screenshot {
  height: 500px;
  width: 100%;
}

#screenshot img {
  width: 100%;
  height: 100%;
}
.pdf-center {
  text-align: center;
}

.col-heading {
  padding-top: 5px;
  background-color: #999;
  padding-bottom: 5px;
}

.col-heading1 {
  padding-top: 5px;
  background-color: #ccc;
  padding-top: 5px;
}
.col-heading2 {
  padding-top: 5px;
  padding-top: 5px;
}
.polygon-col {
  width: 100%;

  margin-bottom: 10px;
  padding-bottom: 10px;
}
