<div id="report-pdf" class="container-fluid" @flyInOut>
  <div class="row">
    <div class="col-lg-4 col-md-12 col-sm-12">
      <ng-container *ngFor="let building of buildingData; let j = index">
        <div>{{building.Name}}</div>
        <div *ngFor="let polygon of polygonData; let i = index" class="polygon-col">
        <ng-container *ngIf="polygon.buildingsGroupUUID==building.Id">
        <div class="row  col-heading">
          <div class="col-6">Polygon</div>
          <div class="col-2">-</div>
          <div class="col-4">{{ polygon.alphabet }}</div>
        </div>
        <div class="row  col-heading1">
          <div class="col-6">Total Roof Area</div>
          <div class="col-2">-</div>
          <div class="col-4">{{ polygon.totalSlopeArea }} SF</div>
        </div>
        <div class="row">
          <div class="col-6">Pitch</div>
          <div class="col-2">-</div>
          <div class="col-4">({{ polygon.rise }}:12)</div>
        </div>
        <div class="row col-heading1">
          <div class="col-6">IWB</div>
          <div class="col-2">-</div>
          <div class="col-4">{{ polygon.iwb }}</div>
        </div>
        <div *ngFor="let shape of polygon.svg; let j = index" class="row">
          <div class="col-6">Polygon {{ polygon["alphabet"] }}{{j+1}}</div>
          <div class="col-2">-</div>
          <div class="col-4">{{ polygon["slopeArea"][j] }} SF</div>
        </div>
      </ng-container>


    </div>
  </ng-container>
    </div>
    <div class="col-lg-8 col-md-12 col-sm-12">
      <div id="screenshot"></div>
    </div>
  </div>
</div>
