<div class="card menu-report">
  <div class="card-body">
    <div class="row">
      <div class="col text-left first-ul lm">
        <ul>
          <li>
            <a href="javascript:;" class="text-left">
              <img src="assets/images/save-pdf.png" alt="" />
              <span style="margin-left: 10px">Save PDF</span>
            </a>
          </li>
          <li>
            <a href="javascript:;" class="text-left" (click)="saveAndSubmit_handler()">
              <img src="assets/images/save-and-submit.png" alt="" />
              <span style="margin-left: 10px">Save & Submit</span></a
            >
          </li>
        </ul>
      </div>
      <div class="col center-select">
        <div>
          <select>
            <option>2015 Roofscope Default</option>
            <option>2015 Default</option>
          </select>
          Template
        </div>
        <div>
          <select>
            <option>Cover</option>
            <option></option>
          </select>
          Report
        </div>
        <div>
          <select (change)="buildingsGroup_changeHandler( $event.target.value )">
            <option [selected]="MS.menu_line_editor.BUILDING_GROUP_SELECTED == i" [value]="'Structure:' + i" *ngFor="let structure of MS.project_information.BUILDINGS; let i = index">
              {{structure["Name"]}}
            </option>
          </select>
          Structure
        </div>
      </div>
      <div class="col text-left second-ul lm">
        <ul style="list-style: none">
          <li>
            <a href="javascript:;" class="text-left">
              <img src="assets/images/vv1.jpg" alt="" />
              <span style="margin-left: 10px">Change Copyright</span>
            </a>
          </li>
          <li>
            <a href="javascript:;" class="text-left">
              <img src="assets/images/vv2.jpg" alt="" />
              <span style="margin-left: 10px">Reset Report</span></a
            >
          </li>
          <li>
            <a href="javascript:;" class="text-left">
              <img src="assets/images/v3.jpg" alt="" />
              <span style="margin-left: 10px">Add Note</span></a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
