.menu-report {
  font-size: 12px;
  line-height: 1.4rem;
  width: 550px;
}
.lm {
  margin-left: -35px;
}

.lm ul li a {
  color: black;
}
.first-ul ul {
  list-style: none !important;
}

.first-ul ul li {
  margin-top: 5px;
}
.first-ul ul li:hover {
  background-color: #ccc;
}
.second-ul li:hover {
  background-color: #ccc;
}

.report-template {
  width: 100%;
  margin-left: -80px;
}

.center-select {
  width: 100%;
  color: #000;
  margin-left: -30px;
}

.second-ul {
  margin-left: 0px !important;
}
@media only screen and (max-width: 600px) {
  .report-template {
    margin-left: 58px;
  }
  .second-ul {
    margin-left: 0px !important;
  }
}
