/*****************************************************
 * node_modules imports
 *****************************************************/
@import "node_modules/bootstrap/scss/bootstrap.scss";

@import "~ag-grid-community/dist/styles/ag-grid.css";
@import "~ag-grid-community/dist/styles/ag-theme-balham.css";
@import "~ngx-bootstrap/datepicker/bs-datepicker.css";

/*****************************************************
  * project imports
  *****************************************************/
@import "variables";
@import "mixins";

/*****************************************************
  * styles
  *****************************************************/
html,
body,
app-root,
app-game {
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.modal {
  top: 3%;
}
.modal .form-group input {
  width: 100% !important;
}
.theme-green .bs-datepicker-head {
  background-color: #f8ab39 !important;
}
.theme-green .bs-datepicker-body table td.week span {
  color: #f8ab39 !important;
}
.modal .form-group textarea {
  width: 100% !important;
  border: 1px #000 solid;
}
.modal-footer .btn-primary {
  background-color: #f8ab39 !important;
  border: 1px #000 solid;
  color: #000;
}
.modal-footer .btn-primary:hover {
  background-color: #ccc !important;
}

.modal-footer .btn-outline-primary {
  background-color: #f8ab39 !important;
  border: 1px #000 solid;
  color: #000;
}
.modal-footer .btn-outline-primary:hover {
  background-color: #ccc !important;
}

body {
  background-color: $mainBgColor;
  color: $mainTextColor;
}

.ui-wrapper {
  position: absolute;

  * {
    z-index: 10;
  }
}

.area-editor .card-header {
  padding: 0px !important;
  background-color: #bcbdc0 !important;
}

.area-editor .card {
  padding-top: 0px !important;
  border: none;
}

.area-editor .card-header {
  border-bottom: none;
}
.area-editor .card-body {
  background-color: #f2f2f2;
}

.area-editor .panel-group {
  border-left: 1px #000 solid;
  border-right: 1px #000 solid;
  min-height: 275px !important;
}

.area-editor .card-header:first-child {
  border-radius: 0px !important;
}
.card-header:first-child {
  border-radius: 0px !important;
}

.area-editor .panel-open .plus-minus-btn-style:before {
  content: "- ";
}

.area-editor .plus-minus-btn-style:before {
  content: "+ ";
}
.area-editor .svg-inline--fa {
  vertical-align: 0px;
}
