html,
body {
  -ms-flex-align: center;
  align-items: center;
  background-color: #ffffff;
  color: rgb(68, 68, 68);
}

/*-----------File Drag Drop in Imagery Page------------*/
.ngx-file-drop__drop-zone {
  border-radius: 0 !important;
  height: 100% !important;
}
.ngx-file-drop__content {
  height: 100% !important;
  color: #8c8c8c !important;
}

.toast-container .ngx-toastr {
  padding: 3px 3px 3px 27px !important;
  background-position: 5px center !important;
  background-size: 15px !important;
  width: 200px !important;
  font-size: 14px !important;
}
