<div class="modal-header">
  <h5 class="modal-title pull-left">Plane Error</h5>
  <button
    type="button"
    class="close pull-right"
    aria-label="Close"
    (click)="ok_clickHandler()"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>


<div class="modal-body">
    <p>{{polygonExistMessage}}</p>
    <p>
      Nagetive Areas Found: <br />
      {{polygonNagetiveMessage}}</p>
</div>



<div class="modal-footer">
  <button type="button" class="btn btn-primary" (click)="ok_clickHandler()">
    Ok
  </button>
</div>