<div class="card selection-types">
  <div class="card-body">
    <div class="row">
      <div class="col">
        <select (change)="buildingsGroup_changeHandler( $event.target.value )">
              <option [selected]="MS.menu_line_editor.BUILDING_GROUP_SELECTED == i" [value]="'Structure:' + i" *ngFor="let structure of MS.project_information.BUILDINGS; let i = index">
                {{structure["Name"]}}
              </option>
            </select>
        Structure
      </div>
    </div>
    <div class="row">
      <div class="col text-left lm">
        <ul style="list-style: none">
          <li>
            <div class="action-content" class="action-content {{
              MS.menu_line_editor.SHOW_IMAGE == true ? 'action-content-hover' : ''
            }} ">
              <a href="javascript:;" class="text-left" (click)="showImage_clickHandler()">
                <img src="assets/images/icons/show-image.png" alt="" />
                <span style="margin-left: 10px">Show Image</span>
              </a>
            </div>
          </li>
          <li>
            <div class="action-content" class="action-content {{
              MS.menu_line_editor.SHOW_DIMS == true ? 'action-content-hover' : ''
            }} ">
              <a href="javascript:;" class="text-left" (click)="showDims_clickHandler()">
                <img src="assets/images/icons/show-dims.png" alt="" />
                <span style="margin-left: 10px">Show Dims</span>
              </a>
            </div>
          </li>
        </ul>
      </div>
      <div class="col text-left lm">
        <ul style="list-style: none">
          <li>
            <a href="javascript:;" class="text-left">
              <img src="assets/images/icons/select-all.png" alt="" />
              <span style="margin-left: 10px">Select All</span>
            </a>
          </li>
          <li>
            <a href="javascript:;" class="text-left">
              <img src="assets/images/icons/select-pitch.png" alt="" />
              <span style="margin-left: 10px">Select by Pitch</span></a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
