.selection-types {
  font-size: 12px;
  line-height: 1.4rem;
  width: 255px;
  color: #000;
}
.lm {
  margin-left: -38px;
}

.lm ul li a {
  color: black;
}
.card select {
  margin-top: 3px;
  width: 167px !important;
  color: #000;
  margin-right: 5px;
}
.text-left li:hover {
  background-color: #cccccc;
}
