.checkbox-col {
  display: flex;
  align-items: center;
  margin-top: 6px;
}

.-mb10 img {
  width: 12px;
}
.checkboxblock {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 30px;

  label {
    margin-left: 5px;
    color: #000;
    margin-bottom: 0px;
    font-size: 12px;
  }
}

.cpr {
  color: #000;
  font-size: 12px;
  outline: none;
  border: 1px solid #000;
  margin-left: 5px;
}

.-mb2 {
  margin-top: -5px;
}

.-mb10 {
  margin-top: -8px;
}
