<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col checkbox-col">

        <div class="checkboxblock" *ngIf="MS.components.MENU.single_image[MS.scope_queue.GRID_TAB] == true && MS.components.MENU.four_images[MS.scope_queue.GRID_TAB] == true">
          <div>
            <input
              type="checkbox"
              name="single_four_img"
              (click)="loadSingleImage_clickHandler($event)"
              [checked]="MS.menu_select_image.IS_SINGLE_OVERHEAD_IMAGE == true || MS.menu_select_image.IS_SINGLE_OVERHEAD_IMAGE == undefined "
            />
            <label>Single Image</label>
          </div>
          <div class="-mb10">
            <input
              type="checkbox"
              [checked]="MS.menu_select_image.IS_SINGLE_OVERHEAD_IMAGE == false"
              name="single_four_img"
              (click)="loadFourImage_clickHandler($event)"
            />
            <label>Four Images</label>
          </div>
        </div>

        <div class="checkboxblock -mb2">
          <div>
            <input type="checkbox" [checked]="google_chk" (click)="google_chk_clickHandler($event)" />
            <label>Google</label>
          </div>
          <div class="-mb10">
            <input type="checkbox" [checked]="nearmap_chk" (click)="nearmap_chk_clickHandler($event)" />
            <label>Nearmap</label>
          </div>
          <div class="-mb2">
            <input type="checkbox" [checked]="custom_chk" (click)="custom_chk_clickHandler($event)" />
            <input
              class="cpr"
              type="input"
              placeholder="Custom Copyright"
              value="{{MS.menu_select_image.COPYRIGHT_TEXT}}"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
