<div class="row four-images">
  <div class="col-lg-3 col-md-6 col-sm-12 mb-c">
    <div class="img-panel">

      <div class="img-cls">

        <div class="image-cav">
          <div id="northImageViewerFour" class="img-container" oncontextmenu="return false;"></div>
          <input
            (change)="northImage_changeHandler($event)"
            style="display:block;"
            type="file"
            class="form-control-file"
          />
          <ngx-file-drop [ngStyle]="northImageViewer.panHorizontal ? {'z-index':'-1'} : {'z-index':'0'}" class="file-drop-txt" multiple="false" directory="false" dropZoneLabel="North" (onFileDrop)="northImage_dropHandler($event)">
          </ngx-file-drop>
        </div>

        <div class="tools">
          <img src="assets/images/refresh.png" alt="" />
          <img src="assets/images/cross.jpg" alt="" (click)="delete_clickHandler('northImageViewer')" />
          <img id="north-zoom-in" src="assets/images/plus.jpg" alt="" />
          <img id="north-zoom-out" src="assets/images/minus.jpg" alt="" />
          <img src="assets/images/hand.jpg" (click)="pan_clickHandler('northImageViewer')" alt="" />
          <img src="assets/images/save-image.png" alt="" />
        </div>

      </div>

      <div class="checkblock">
        <input type="checkbox" />
        <label class="mlb">No Imagery Available</label>
      </div>

    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-12 mb-c">
    <div class="img-panel">
      
      <div class="img-cls">

        <div class="image-cav">
          <div id="eastImageViewerFour" class="img-container" oncontextmenu="return false;"></div>
          <input
            (change)="eastImage_changeHandler($event)"
            style="display:block;"
            type="file"
            class="form-control-file"
          />
          <ngx-file-drop [ngStyle]="eastImageViewer.panHorizontal ? {'z-index':'-1'} : {'z-index':'0'}" class="file-drop-txt" multiple="false" directory="false" dropZoneLabel="East" (onFileDrop)="eastImage_dropHandler($event)">
          </ngx-file-drop>
        </div>

        <div class="tools">
          <img src="assets/images/refresh.png" alt="" />
          <img src="assets/images/cross.jpg" alt="" (click)="delete_clickHandler('eastImageViewer')" />
          <img id="east-zoom-in" src="assets/images/plus.jpg" alt="" />
          <img id="east-zoom-out" src="assets/images/minus.jpg" alt="" />
          <img src="assets/images/hand.jpg" (click)="pan_clickHandler('eastImageViewer')" alt="" />
          <img src="assets/images/save-image.png" alt="" />
        </div>

      </div>

      <div class="checkblock">
        <input type="checkbox" />
        <label class="mlb">No Imagery Available</label>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-12 mb-c">
    <div class="img-panel">
      
      <div class="img-cls">

        <div class="image-cav">
          <div id="topImageViewerFour" class="img-container" oncontextmenu="return false;"></div>
          <input
            (change)="topImage_changeHandler($event)"
            style="display:block;"
            type="file"
            class="form-control-file"
          />
          <ngx-file-drop class="file-drop-txt" multiple="false" directory="false" dropZoneLabel="Top" (onFileDrop)="topImage_dropHandler($event)">
          </ngx-file-drop>
        </div>

        <div class="tools">
          <img src="assets/images/cross.jpg" alt="" (click)="delete_clickHandler('topImageViewer')" />
        </div>

      </div>
      
      <div class="checkblock">
        <input type="checkbox" />
        <label class="mlb">No Imagery Available</label>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-12 mb-c">
    <div class="img-panel">
      
      <div class="img-cls">

        <div class="image-cav">
          <div id="southImageViewerFour" class="img-container" oncontextmenu="return false;"></div>
          <input
            (change)="southImage_changeHandler($event)"
            style="display:block;"
            type="file"
            class="form-control-file"
          />
          <ngx-file-drop [ngStyle]="southImageViewer.panHorizontal ? {'z-index':'-1'} : {'z-index':'0'}" class="file-drop-txt" multiple="false" directory="false" dropZoneLabel="South" (onFileDrop)="southImage_dropHandler($event)">
          </ngx-file-drop>
        </div>

        <div class="tools">
          <img src="assets/images/refresh.png" alt="" />
          <img src="assets/images/cross.jpg" alt="" (click)="delete_clickHandler('southImageViewer')" />
          <img id="south-zoom-in" src="assets/images/plus.jpg" alt="" />
          <img id="south-zoom-out" src="assets/images/minus.jpg" alt="" />
          <img src="assets/images/hand.jpg" (click)="pan_clickHandler('southImageViewer')" alt="" />
          <img src="assets/images/save-image.png" alt="" />
        </div>

      </div>
      
      <div class="checkblock">
        <input type="checkbox" />
        <label class="mlb">No Imagery Available</label>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-12 mb-c">
    <div class="img-panel">
      
      <div class="img-cls">

        <div class="image-cav">
          <div id="westImageViewerFour" class="img-container" oncontextmenu="return false;"></div>
          <input
            (change)="westImage_changeHandler($event)"
            style="display:block;"
            type="file"
            class="form-control-file"
          />
          <ngx-file-drop [ngStyle]="westImageViewer.panHorizontal ? {'z-index':'-1'} : {'z-index':'0'}" class="file-drop-txt" multiple="false" directory="false" dropZoneLabel="West" (onFileDrop)="westImage_dropHandler($event)">
          </ngx-file-drop>
        </div>

        <div class="tools">
          <img src="assets/images/refresh.png" alt="" />
          <img src="assets/images/cross.jpg" alt="" (click)="delete_clickHandler('westImageViewer')" />
          <img id="west-zoom-in" src="assets/images/plus.jpg" alt="" />
          <img id="west-zoom-out" src="assets/images/minus.jpg" alt="" />
          <img src="assets/images/hand.jpg" (click)="pan_clickHandler('westImageViewer')" alt="" />
          <img src="assets/images/save-image.png" alt="" />
        </div>

      </div>
      
      <div class="checkblock">
        <input type="checkbox" />
        <label class="mlb">No Imagery Available</label>
      </div>
    </div>
  </div>
</div>
