.project-content {
  height: calc(100vh - 100px);
  box-sizing: border-box;
}
.project-content label {
  margin-bottom: 3px !important;
  color: #000;
}

.project-content input {
  width: 100% !important;
}

.project-content textarea {
  width: 100% !important;
  height: 180px !important;
  border: 1px #000 solid;
}

.container-fluid,
.container-xl,
.container-lg,
.container-md,
.container-sm {
  padding-left: 12px !important;
  padding-right: 0px !important;
  margin-left: 0px !important;
}

.form-group .text-area {
  border-radius: 0px !important;
}

.structure-border {
  width: 100%;
}

.structure-border .form-control {
  border: none !important;
  border-bottom: 1px #000 solid !important;
  border-radius: 0px !important;
  padding: 11px !important;
  height: 0px !important;
  font-size: 11px;
  color: #000;
}

.img-padd {
  padding-top: 3px;
}
.structure {
  border: 1px #000 solid;
  width: 100%;
  height: calc(100vh - 160px);
  background-color: #ffffff;
}

.structure-cls {
  margin-left: 0px !important;
  margin-right: 0px !important;
  width: 100%;
}

.strc-col {
  padding-left: 15px !important;
}

.str-txt {
  font-size: 14px;
  color: #000;
  margin-bottom: 2px;
  width: 40%;
  float: left;
}
.count-txt {
  font-size: 14px;
  color: #000;
  width: 40%;
  float: right;
  text-align: right;
}

.structure-btn {
  text-align: right;
}

.structure-btn button {
  margin-left: 10px;
  background-color: #ccc !important;
  border: 1px #000 solid;
  color: #000;
  border-radius: 0px !important;
  padding: 0px !important;
  width: 20%;
  margin-right: 0px;
  margin-top: 10px;
}

.structure-btn button:hover {
  background-color: #f8ab39 !important;
}

.count-input {
  margin-left: -2px !important;
}

@media only screen and (max-width: 600px) {
  .mobile-col {
    width: 100%;
    flex-basis: 1 !important;
  }

  .strc-col {
    padding-left: 15px !important;
  }

  .structure-btn button {
    width: 29%;
  }
}

@media only screen and (max-width: 768px) {
  .structure-btn button {
    width: 29%;
  }
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  opacity: 1;
}
