<div class="row project-content" @flyInOut>
  <div class="col-lg-4 col-md-6 col-sm-12">

    <form>
      <div class="form-group row" >

        <label class="col-12" for="projectAddress">Project Address</label>
        <div class="col-12">
          <input
            (change)="projectAddress_changeHandler($event.target.value)"
            type="text"
            class="form-control form-control-sm"
            [value]="MS.project_information.PROJECT_ADDRESS"
          />
        </div>
      </div>
      <div class="form-group row">
        <label class="col-12" for="customerNotes">Customer Notes</label>
        <div class="col-12">
          <textarea
            (change)="customerNotes_changeHandler($event.target.value)"
            class="form-control text-area"
            id="customerNotes"
            rows="3"
          >{{MS.project_information.CUSTOMER_NOTES}}</textarea>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-12" for="qcNotes">QC Notes</label>
        <div class="col-12">
          <textarea
            (change)="qcNotes_changeHandler($event.target.value)"
            class="form-control text-area"
            id="qcNotes"
            rows="3"
          >{{MS.project_information.QC_NOTES}}</textarea>
        </div>
      </div>

    </form>
  </div>
  <div class="col-lg-4 col-md-6 col-sm-12">
    <div class="">
      <div class="form-group row">
        <label class="col-12" for="address">Map Link</label>
        <div class="col-12">
          <a href="{{MS.project_information.MAP_LINK}}" target="_blank">projectaddress.maps</a>
        </div>
      </div>
      <div class="form-group row" *ngIf="MS.project_information.SITE_IMAGE != null">
        <label class="col-12" for="description">Site Map</label>
        <div class="col-12 img-padd">
          <img src="{{MS.project_information.SITE_IMAGE}}" alt="SITE_IMAGE" width="99%" />
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-6 col-sm-12 strc-col">
    <form>
      <div class="structure-cls">
        <div class="str-txt">Structure Name</div>
        <div class="count-txt">Count</div>
      </div>
      <div class="clearfix"></div>

      <div class="structure">
        <table class="structure-border">
          <tbody>
            <tr *ngFor="let building of MS.project_information.BUILDINGS; let i = index">
              <td>
                <input
                  class="form-control"
                  type="text"
                  name="structure"
                  [id]="'Structure:' + i"
                  [value]="(building.Name)"
                  autocomplete="off"
                  (change)="
                    structureName_changeHandler(
                      $event.target.id,
                      $event.target.value
                    )
                  "
                />
              </td>
              <td>
                <input
                  *ngIf="isMultipleStr"
                  class="form-control text-right count-input"
                  type="number"
                  min="1"
                  max="100"
                  step="1"
                  name="count"
                  [value]="(building.Count)"
                  [id]="'Count:' + (i + 1)"
                  (change)="
                    structureCount_changeHandler(
                      $event.target.id,
                      $event.target.value
                    )
                  "
                />
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="container-fluid structure-btn">
        <button
          type="button"
          class="btn btn-primary btn-sm"
          (click)="addStructure_clickHandler( $event.type )"
        >
          Add
        </button>

        <button
          type="button"
          class="btn btn-secondary btn-sm"
          (click)="addStructure_clickHandler( $event.type )"
        >
          Import Bldg
        </button>
        <button
          type="button"
          class="btn btn-danger btn-sm"
          (click)="deleteLastBuilding_clickHandler('click')"
        >
          Delete
        </button>
      </div>
    </form>
  </div>
</div>
