<header #header class="headerbg page-header-{{ componentID }}">
  <nav ngxNavbarDynamicExpand>
    <app-menu></app-menu>
  </nav>
</header>

<!-- Begin page content -->
<main
  role="main"
  class="flex-container overflow-auto page-{{ componentID }}"
  [style.height.px]="mainHeight"
  (window:resize)="onResize()"
>
  <div class="container-fluid">
    <ng-template project-component-host></ng-template>
    <ng-template engine-component-host></ng-template>
  </div>
</main>

<app-footer></app-footer>
