main {
  background-color: #bcbdc0;
  position: relative;
}

.container-fluid {
  padding-top: 0.3rem;
  padding-bottom: 2px;
}

.headerbg {
  background-color: #818285 !important;
  width: 100%;
  height: 80px;
  padding-bottom: 5px;
}

.headerbg .card-body {
  padding: 0px 10px !important;
}

.headerbg .card {
  background-color: transparent !important;
  border: none !important;
}

.headerbg .navbar {
  padding: 0px !important;
}
.nav-item {
  margin: 0px auto !important;
  float: left !important;
}

.hideDropDownCls .menu-timer,
.showDropDownCls .menu-timer {
  position: relative;
}

@media only screen and (max-width: 600px) {
  .navbar {
    display: block !important;
  }
}
