<div (click)="$event.preventDefault()">
  <tabset>
    <tab heading="General"></tab>
    <tab
      *ngFor="let tabz of tabs"
      [heading]="tabz.title"
      [active]="tabz.active"
      (selectTab)="tabz.active = true"
      (deselect)="tabz.active = false"
      [disabled]="tabz.disabled"
      [customClass]="tabz.customClass"
    >
    </tab>
  </tabset>
</div>
