<div class="card text-center menu-modify">
  <div class="card-body">
    <div class="row">
      <div class="col-modify-2">
        <div
          class="action-content {{
            move_btn_enabled == true ? 'action-content-hover' : ''
          }} "
        >
          <a
            href="javascript:;"
            class="text-left"
            (click)="move_clickHandler()"
          >
            <div class="divimg">
              <img src="assets/images/icons/move.png" alt="" />
            </div>
            <div class="lbl">Move</div>
          </a>
        </div>
        <div
          class="action-content {{
            stretch_btn_enabled == true ? 'action-content-hover' : ''
          }} "
        >
          <a
            href="javascript:;"
            class="text-left"
            (click)="stretch_clickHandler()"
          >
            <div class="divimg">
              <img src="assets/images/icons/stretch.png" alt="" />
            </div>
            <div class="lbl">Stretch</div>
          </a>
        </div>
        <div
          class="action-content {{
            rotate_btn_enabled == true ? 'action-content-hover' : ''
          }} "
        >
          <a
            href="javascript:;"
            class="text-left"
            (click)="rotate_clickHandler()"
          >
            <div class="divimg">
              <img src="assets/images/icons/rotate.png" alt="" />
            </div>
            <div class="lbl">Rotate</div>
          </a>
        </div>
      </div>

      <div class="col-modify-3">
        <div
          class="action-content {{
            offset_btn_enabled == true ? 'action-content-hover' : ''
          }} "
        >
          <a
            href="javascript:;"
            class="text-left"
            (click)="offset_clickHandler()"
          >
            <div class="divimg">
              <img src="assets/images/icons/offset.png" alt="" />
            </div>
            <div class="lbl">Offset</div>
          </a>
        </div>
        <div
          class="action-content {{
            mirror_btn_enabled == true ? 'action-content-hover' : ''
          }} "
        >
          <a
            href="javascript:;"
            class="text-left"
            (click)="mirror_clickHandler()"
          >
            <div class="divimg">
              <img src="assets/images/icons/mirror.png" alt="" />
            </div>
            <div class="lbl">Mirror</div>
          </a>
        </div>
        <div
          class="action-content {{
            trim_btn_enabled == true ? 'action-content-hover' : ''
          }} "
        >
          <a
            href="javascript:;"
            class="text-left"
            (click)="trim_clickHandler()"
          >
            <div class="divimg">
              <img src="assets/images/icons/trim.png" alt="" />
            </div>
            <div class="lbl">Trim</div>
          </a>
        </div>
      </div>

      <div class="col-modify-4">
        <div
          class="action-content {{
            fillet_btn_enabled == true ? 'action-content-hover' : ''
          }} "
        >
          <a
            href="javascript:;"
            class="text-left"
            (click)="fillet_clickHandler()"
          >
            <div class="divimg">
              <img src="assets/images/icons/fillet.png" alt="" />
            </div>
            <div class="lbl">Fillet</div>
          </a>
        </div>
        <div
          class="action-content {{
            extend_btn_enabled == true ? 'action-content-hover' : ''
          }} "
        >
          <a
            href="javascript:;"
            class="text-left"
            (click)="extend_clickHandler()"
          >
            <div class="divimg">
              <img src="assets/images/icons/extend.png" alt="" />
            </div>
            <div class="lbl">Extend</div>
          </a>
        </div>
        <div class="action-content">
          <a href="javascript:;" class="text-left">
            <div class="divimg">
              <img src="assets/images/icons/edit-text.png" alt="" />
            </div>
            <div class="lbl">Edit Text</div>
          </a>
        </div>
      </div>
      <div class="col-modify-4">
        <div class="action-content">
          <a href="javascript:;" class="text-left" (click)="toFront_clickHandler()">
            <div class="divimg">
              <img src="assets/images/icons/to-front.png" alt="" />
            </div>
            <div class="lbl">To Front</div>
          </a>
        </div>
        <div class="action-content">
          <a href="javascript:;" class="text-left" (click)="toBack_clickHandler()">
            <div class="divimg">
              <img src="assets/images/icons/to-back.png" alt="" />
            </div>
            <div class="lbl">To Back</div>
          </a>
        </div>
        <div
          class="action-content {{
            viewport_btn_enabled == true ? 'action-content-hover' : ''
          }} "
        >
          <a href="javascript:;" class="text-left" (click)="viewport_clickHandler()">
            <div class="divimg">
              <img src="assets/images/icons/viewport.png" alt="" />
            </div>
            <div class="lbl">Viewport</div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
