.menu-modify {
  font-size: 12px;
  width: 280px;
}

.menu-modify label {
  margin-left: 5px;
}

.menu-modify .col {
  width: 70px;
}

.menu-modify .col-small {
  width: 50px !important;
}

.clm {
  margin-left: -30px;
}

.action-content {
  width: 100%;
}

.action-content:hover {
  width: 100% !important;
  background-color: #ccc;
}

.action-content-hover {
  background-color: #ccc !important;
}

.action-content a {
  font-size: 12px;
  text-decoration: none;
  color: #000;
  width: 100%;
  line-height: 1.5;
}

.col-1 {
  max-width: 7% !important;
}

.clm ul li a {
  color: black;
}

.clm ul li img {
  margin: 0 auto;
}

.lbl {
  margin-left: 21px !important;
  margin-top: -15px;
  display: block;
}
.divimg {
  width: 20px;
  text-align: center;
}

.input-menu {
  width: 30px;
  font-size: 10px;
  border: none !important;
  border-radius: 0px !important;
  text-align: center;
  color: #000;
  border: 1px #000 solid;
  margin-top: 2px;
  margin-bottom: 2px;
}

.last-col {
  width: 100px !important;
  margin-left: 15px;
}
.last-col .lbl2 {
  margin-left: 33px !important;
  margin-top: -16px;
  color: #000 !important;
  width: 70px !important;
  font-size: 11px;
}

.mrg-left {
  margin-left: 8px !important;
}

.mrg-left-2 {
  margin-left: 30px !important;
}
.setting-btn {
  cursor: pointer;
}

.col-modify-1 {
  flex-grow: 1;
  width: 80px;
  margin-left: 15px;
}

.col-modify-2 {
  flex-grow: 1;
  width: 75px;
  margin-left: 10px;
}

.col-modify-3 {
  flex-grow: 1;
  width: 65px;
}

.col-modify-4 {
  flex-grow: 1;
  width: 70px;
}
.col-modify-5 {
  flex-grow: 1;
  width: 70px;
}
