progress {
  display: block;
  width: 100%;
  height: 5px;
  background: none;
  border: 0;
  text-align: left;
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.8em;
}
progress::-webkit-progress-bar {
  height: 5px;
  width: 100%;
  margin: 0 auto;
  border: 0;
  background-color: white;
}
progress::-webkit-progress-value {
  display: inline-block;
  float: left;
  height: 2px;
  margin: 0px -10px 0 0;
  border-radius: 15px;
  border: 0;
  background-color: #9ECCFF
}
progress:after {
  margin: -26px 0 0 -7px;
  padding: 0;
  display: inline-block;
  float: left;
  border: 0;
}

.panel-heading {
  z-index: 99999999999999;
}
