
<ngx-loading-bar height="4px" [fixed]="false" [includeSpinner]="false" [includeBar]="true"></ngx-loading-bar>
<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "line-spin-clockwise-fade" [fullScreen] = "true"></ngx-spinner>
<router-outlet></router-outlet>
