footer .status {
  color: #d9d9d9;
  font-size: 0.7rem;
}
.buttonClass {
  text-align: right;
}
.footer button {
  width: 94px;
  margin-left: 1px;
  margin-bottom: 1px;
}

.footer .btn {
  font-size: 0.7rem;
  padding: 0;
  border-radius: 0;
  color: #d9d9d9;
}

.footer .btn-secondary:not(:disabled):not(.disabled):active,
.btn-secondary:not(:disabled):not(.disabled).active,
.show > .btn-secondary.dropdown-toggle {
  color: #373737;
  background-color: #ff9933;
  border-color: #ff9933;
}

@media only screen and (max-width: 600px) {
  .footer button {
    width: 110px;
  }
  .buttonClass {
    text-align: center;
  }
  .status {
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .buttonClass {
    text-align: left;
  }
}
