<div class="row">
  <div class="col-lg-3 col-sm-12 col-md-12">
    <div class="status">Command Prompt</div>
  </div>
  <div class="col-lg-9 col-sm-12 col-md-12 buttonClass" role="group">
    <button type="button" class="btn btn-secondary" (click)="objectSnaps_clickHandler($event)" [(ngModel)]="objectSnaps" btnCheckbox>
      Object Snaps
    </button>
    <button type="button" class="btn btn-secondary" (click)="radial_clickHandler()"
        [(ngModel)]="radial" btnCheckbox>Radial: {{MS.settings.RADIAL_DEGREES}}
    </button>
    <button type="button" class="btn btn-secondary" (click)="endPoint_clickHandler()"
        [(ngModel)]="endPoint" btnCheckbox>End Point
    </button>
    <button type="button" class="btn btn-secondary" (click)="midPoint_clickHandler()"
        [(ngModel)]="midPoint" btnCheckbox>Mid Point
    </button>
    <button type="button" class="btn btn-secondary" (click)="intersection_clickHandler()"
        [(ngModel)]="intersection" btnCheckbox>Intersection
    </button>
    <button type="button" class="btn btn-secondary" btnCheckbox>
      Center
    </button>
    <button type="button" class="btn btn-secondary" (click)="perpendicular_clickHandler()"
        [(ngModel)]="perpendicular" btnCheckbox>Perpendicular
    </button>
    <button type="button" class="btn btn-secondary" (click)="nearest_clickHandler()"
        [(ngModel)]="nearest" btnCheckbox>Nearest
    </button>
    <button type="button" class="btn btn-secondary" (click)="grid_clickHandler()"
        [(ngModel)]="grid" btnCheckbox>Grid
    </button>
  </div>
</div>
