<div class="card text-center undo-redo">
  <div class="card-body">
    <div class="row">
      <div class="col">
        <a
          href="javascript:;"
          class="text-center"
          (click)="undo_clickHandler()"
        >
          <img src="assets/images/icons/undo.png" alt="" /> <br />
          <span class="">Undo</span>
        </a>
      </div>
      <div class="col redo-btn">
        <a
          href="javascript:;"
          class="text-center"
          (click)="redo_clickHandler()"
        >
          <img src="assets/images/icons/redo.png" alt="" /> <br />
          <span>Redo</span>
        </a>
      </div>
    </div>
  </div>
</div>

