.newbtn {
  background-color: none;
  border: none;
}

.newbtn fa-icon {
  background-color: orangered;
}

#btnn button {
  display: inline;
}

.undo-redo {
  margin-top: 8px;
  width: 86px;
}
.redo-btn {
  z-index: 999999999999;
}
.undo-redo .col:hover {
  background-color: #ccc;
}
