.menu-save {
  padding-top: 12px;
  width: 135px !important;
}

.menu-save .col {
  padding-left: 5px;
  padding-right: 5px;
}
.menu-save .col:hover {
  background-color: #ccc;
}
.col a {
  width: 19px;
}

a:hover {
  text-decoration: none;
}

.col span {
  color: #000;
  text-decoration: none;
  font-size: 12px;
}
