<div class="card text-center menu-save">
  <div class="card-body">
    <div class="row">
      <div class="col">
        <a href="javascript:;" class="text-center" (click)="close_clickHandler()">
          <img src="assets/images/close-blk.svg" width="24" height="24" alt="" /> <br />
          <span class="">Close</span>
        </a>
      </div>
      <div class="col">
        <a href="javascript:;" class="text-center" (click)="save_clickHandler()">
          <img src="assets/images/save.png" alt="" /> <br />
          <span class="">Save</span>
        </a>
      </div>
      <div class="col">
        <a href="javascript:;" class="text-center" (click)="saveAs_clickHandler()">
          <img src="assets/images/save-as.png" alt="" /> <br />
          <span>Save As</span>
        </a>
      </div>
    </div>
  </div>
</div>
