  <div class="card text-center menu-selection">
    <div class="card-body">
      <div class="row">
        <div class="col-custom-1">
          <div class="action-content" class="action-content {{
            MS.menu_selection.SELECTION == true ? 'action-content-hover' : ''
          }} ">
            <a href="javascript:;" class="text-left" (click)="selection_clickHandler()">
              <div class="divimg">
                <img src="assets/images/icons/select.png" alt="" />
              </div>
              <div class="lbl">Select</div>
            </a>
          </div>
          <div class="action-content" class="action-content {{
            MS.menu_selection.SELECT_ALL == true ? 'action-content-hover' : ''
          }} ">
            <a href="javascript:;" class="text-left" (click)="selectAll_clickHandler()">
              <div class="divimg">
                <img src="assets/images/icons/select-all.png" alt="" />
              </div>
              <div class="lbl">Select All</div>
            </a>
          </div>

        </div>
        <div class="col-custom-2">  
          <div class="action-content" class="action-content {{
            MS.menu_selection.SELECT_BY_LINE_TYPE == true ? 'action-content-hover' : ''
          }} ">
            <a href="javascript:;" class="text-left" (click)="selectByLineType_clickHandler()">
              <div class="divimg">
                <img src="assets/images/icons/select-linetype.png" alt="" />
              </div>
              <div class="lbl">Select by Linetype</div>
            </a>
          </div>
          <div class="action-content" class="action-content {{
            MS.menu_selection.SELECT_BY_PITCH == true ? 'action-content-hover' : ''
          }} ">
            <a href="javascript:;" class="text-left" (click)="selectByPitch_clickHandler()">
              <div class="divimg">
                <img src="assets/images/icons/select-pitch.png" alt="" />
              </div>
              <div class="lbl">Select by Pitch</div>
            </a>
          </div>
          <div class="action-content" class="action-content {{
            MS.menu_selection.SELECT_BY_LINE_TYPE_AND_PITCH == true ? 'action-content-hover' : ''
          }} ">
            <a href="javascript:;" class="text-left" (click)="selectByLineTypeAndPitch_clickHandler()">
              <div class="divimg">
                <img src="assets/images/icons/select-linetype-pitch.png" alt="" />
              </div>
              <div class="lbl">Select by Linetype & Pitch</div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  