.menu-selection {

  font-size: 12px;
  margin-left: 8px;
  width: 230px;

  .col-custom-1 {
    flex-grow: 1;
  }

  .col-custom-2 {
    flex-grow: 1;
    width: 165px;
  }

  label {
    margin-left: 5px;
  }

  .col {
    width: 80px;
  }

}

.action-content {
  width: 100%;
}

.action-content:hover {
  width: 100% !important;
  background-color: #ccc;
}

.action-content a {
  font-size: 12px;
  text-decoration: none;
  color: #000;
  width: 100%;
  line-height: 1.5;
}

.clm ul li a {
  color: black;
}

.clm ul li img {
  margin: 0 auto;
}

.lbl {
  margin-left: 21px !important;
  margin-top: -18px;
  display: block;
  margin-bottom: 3px;
}
.divimg {
  width: 20px;
  text-align: center;
}

@media only screen and (max-width: 600px) {
}
