<div class="modal-header">
  <h4 class="modal-title pull-left">New Project</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

  <form>  
    <div class="modal-body">
        <div class="form-group row">
          <label class="col-sm-3 col-form-label" for="name">Name</label>
          <div class="col-sm-8">
            <input type="text" #projectName class="form-control form-control-sm" 
            (keyup)="get_projectName(projectName.value)"
            (keypress)="get_projectName(projectName.value)"
            (blur)="get_projectName(projectName.value)"
            name="projectName" />
          </div>
          
        </div>
        <div class="form-group row">
          <label class="col-sm-3 col-form-label" for="address">Address</label>
            <div class="col-sm-8">
                <input type="text" #address class="form-control form-control-sm" 
                (keyup)="get_address(address.value)"
                (keypress)="get_address(address.value)"
                (blur)="get_address(address.value)"
                id="address">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label" for="description">Description</label>
            <div class="col-sm-8">
                <textarea class="form-control form-control-sm" #description 
                (keyup)="get_description(description.value)"
                (keypress)="get_description(description.value)"
                (blur)="get_description(description.value)"
                rows="3"></textarea>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label" for="duedate">Due Date</label>
            <div class="col-sm-8">
                <input type="text"
                    placeholder="Select a date"
                    class="form-control"
                    id="duedate"
                    #dueDate
                    (keyup)="get_due_date(dueDate.value)" 
                    (keypress)="get_due_date(dueDate.value)"
                    (blur)="get_due_date(dueDate.value)"
                    (change)="get_due_date(dueDate.value)"
                    bsDatepicker />
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label" for="duedate">Date of loss</label>
            <div class="col-sm-8">
                <input type="text"
                    placeholder="Select a date"
                    class="form-control"
                    readonly
                    #dateOfLoss
                    (keyup)="get_date_of_loss(dateOfLoss.value)" 
                    (keypress)="get_date_of_loss(dateOfLoss.value)"
                    (blur)="get_date_of_loss(dateOfLoss.value)"
                    bsDatepicker>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label" for="notes">Notes</label>
            <div class="col-sm-8">
                <input type="text" class="form-control form-control-sm" 
                #notes
                (keyup)="get_notes(notes.value)" 
                (keypress)="get_notes(notes.value)"
                (blur)="get_notes(notes.value)"
                />
            </div>
        </div>
    </div>
    <div class="modal-footer">
      <div [class]="messageType">{{ message }}</div>
      <button type="button" class="btn btn-primary" (click)="onSubmit()">Save</button>
      <button type="button" class="btn btn-outline-primary" (click)="bsModalRef.hide()">Cancel</button>
    </div>
  </form>