<div class="card text-center">
  <div class="card-body">
    <div class="row">
      <div class="col">
        <div class="import-report">
          <a href="javascript:;" (click)="import_clickHandler()">
            <img src="assets/images/import.png" alt="" /> <br />
            <span class="import">Import</span>
            <span class="report">Reports</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
