.import-report {
  width: 51px;
  margin-top: 7px;
  text-align: center;
  height: 100%;
  display: block;
}

.import-report:hover {
  background-color: #ccc;
}

.import-report span {
  width: 100%;
  line-height: 1;
  float: left;
  margin-top: 2px;
}
