<div class="openProject">
  <header #header class="header_bg py-4">
    <div class="row">
      <div class="col-md-9 col-xs-12 text-center">
        <h4>Scope Queue</h4>
      </div>
      <div class="col-md-3 col-xs-12" id="searchright">
        <label class="searchlabel" id="searchlabel">Search:</label>
        <label class="inputlabel">
          <input type="text" class="ng-tns-c95-0" (input)="search_changeHandler($event.target.value)" />
        </label>
      </div>
    </div>
  </header>

  <!-- Begin page content -->
  <main role="main" class="flex-shrink-0 minHeight" @flyInOut>
    <div class="container-fluid">
      <tabset>
        <tab heading="All" (selectTab)="gridTab_changeHandler($event)">
          <div class="row py-3 px-3 mrg-cntr">
            <div class="col-12">

              <div class="inbox_heading">Inbox</div>

              <app-ag-grid [projectsDataGrid]="projectsDataGrid"></app-ag-grid>

            </div>
          </div>
        </tab>
        <tab heading="RoofX" (selectTab)="gridTab_changeHandler($event)">
          <div class="row py-3 px-3 mrg-cntr">
            <div class="col-12">
              <div class="inbox_heading">RoofX</div>
              <app-ag-grid 
                [projectsDataGrid]="projectsDataGrid"
                ></app-ag-grid>
            </div>
          </div>
        </tab>
        <tab heading="Roof+" (selectTab)="gridTab_changeHandler($event)"><div class="row py-3 px-3 mrg-cntr">
          <div class="col-12">
            <div class="inbox_heading">Roof</div>
            <app-ag-grid 
              [projectsDataGrid]="projectsDataGrid"
              ></app-ag-grid>
          </div>
        </div></tab>
        <tab heading="Gutter" (selectTab)="gridTab_changeHandler($event)"><div class="row py-3 px-3 mrg-cntr">
          <div class="col-12">
            <div class="inbox_heading">Gutter</div>
            <app-ag-grid 
              [projectsDataGrid]="projectsDataGrid"
              ></app-ag-grid>
          </div>
        </div></tab>
        <tab heading="Siding" (selectTab)="gridTab_changeHandler($event)"><div class="row py-3 px-3 mrg-cntr">
          <div class="col-12">
            <div class="inbox_heading">Siding</div>
            <app-ag-grid 
              [projectsDataGrid]="projectsDataGrid"
              ></app-ag-grid>
          </div>
        </div></tab>
        <tab heading="Paint" (selectTab)="gridTab_changeHandler($event)"><div class="row py-3 px-3 mrg-cntr">
          <div class="col-12">
            <div class="inbox_heading">Paint</div>
            <app-ag-grid 
              [projectsDataGrid]="projectsDataGrid"
              ></app-ag-grid>
          </div>
        </div></tab>
        <tab heading="Insulation" (selectTab)="gridTab_changeHandler($event)"><div class="row py-3 px-3 mrg-cntr">
          <div class="col-12">
            <div class="inbox_heading">Insulation</div>
            <app-ag-grid 
              [projectsDataGrid]="projectsDataGrid"
              ></app-ag-grid>
          </div>
        </div></tab>
        <tab heading="Concrete" (selectTab)="gridTab_changeHandler($event)">
          <div class="row py-3 px-3 mrg-cntr">
            <div class="col-12">
              <div class="inbox_heading">Concrete</div>
              <app-ag-grid 
                [projectsDataGrid]="projectsDataGrid"
                ></app-ag-grid>
            </div>
          </div>
        </tab>
        <tab heading="Roofing" (selectTab)="gridTab_changeHandler($event)">
          <div class="row py-3 px-3 mrg-cntr">
            <div class="col-12">
              <div class="inbox_heading">Roofing</div>
              <app-ag-grid [projectsDataGrid]="projectsDataGrid"></app-ag-grid>
            </div>
          </div>
        </tab>
      </tabset>
    </div>
  </main>

  <footer class="footer">
    <div class="container-fluid">
      <img class="logo" src="/assets/images/logo.png" />
      <span id="open-project-error"></span>
      <button
        type="button"
        class="btn btn-primary"
        (click)="new_project_clickHandler()"
      >
        New Project
      </button>

      <button
        type="button"
        class="btn btn-primary"
        (click)="get_a_scope_clickHandler()"
      >
        Get-a-Scope
      </button>
      <button type="button" class="btn btn-primary" (click)="refreshProject()">Refresh</button>
      <button type="button" class="btn btn-primary" (click)="logout_clickHandler()">Logout</button>
    </div>
  </footer>
</div>
