.openProject {
  .header_bg {
    background-color: #ff9933;
  }
  .header_bg h4 {
    font-weight: bold;
    padding-left: 300px !important;
    margin-top: -7px !important;
  }

  .header_bg .form-control {
    background: none;
    border: none;
  }

  .header_bg .form-group input {
    height: 22px !important;
  }


  .nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    color: #495057;
    background-color: #f8ab39;
    border-color: #dee2e6 #dee2e6 #fff;
  }

  .nav-tabs .nav-link {
    border: 1px #000 solid !important;
    background-color: #ccc;
    border-top-left-radius: 0% !important;
    border-top-right-radius: 0% !important;
    text-align: center;
  }


  .nav-link {
    padding: 0px 14px !important;
  }
  .nav-tabs .nav-link.active,
  .nav-tabs .nav-item.show .nav-link {
    color: #000;
  }

  .nav-item {
    width: 8% !important;
  }
  .nav-item a {
    color: #000 !important;
  }

  .container-fluid,
  .container-xl,
  .container-lg,
  .container-md,
  .container-sm {
    padding-left: 0px !important;
  }
  .nav-tabs {
    margin-top: -25px !important;
  }

  .searchlabel {
    width: 20%;
    padding-left: 17px;
  }
  .inputlabel {
    width: 80%;
  }

  .inbox_heading {
    background-color: #999;
    color: #fff;
    padding-left: 3px;
    border-top: 1px #000 solid;
    border-left: 1px #000 solid;
    border-right: 1px #000 solid;
  }

  .footer {
    position: fixed;
    height: 60px;
    width: 100%;
    text-align: right;
  }

  .footer button {
    margin-left: 10px;
    background-color: #ccc !important;
    border: 1px #000 solid;
    color: #000;
    border-radius: 0px !important;
    padding: 0px !important;
    width: 11%;
  }

  .footer button:hover {
    border: 1px #000 solid;
    background-color: #f8ab39 !important;
  }

  .ag-header-cell {
    border-color: #000;
    border-left: 1px solid;
    background-color: #ccc;
  }
  .ag-theme-balham .ag-cell {
    border-bottom: 1px #000 solid;
  }
  .ag-theme-balham .ag-ltr .ag-cell {
    border-left: 1px #000 solid;
  }
  .ag-header-viewport {
    border-bottom: 1px #000 solid;
  }

  .content-main {
    border: 1px #000 solid;
  }
  .ag-theme-balham .ag-row {
    border-color: #000;
    border-width: 0px !important;
  }

  .ag-theme-balham .ag-root-wrapper {
    border: 1px #000 solid;
    border-radius: 0px;
  }

  .ag-theme-balham {
    height: 440px !important;
  }

  #searchright {
    text-align: center !important;
  }
  #searchright input {
    width: 220px;
  }
  .modal {
    left: 0% !important;
  }
  @-moz-document url-prefix() {
    .ag-theme-balham {
      height: 445px !important;
    }
  }

  @media all and (-webkit-min-device-pixel-ratio: 0) and (min-resolution: 0.001dpcm) {
    .selector:not(*:root),
    .ag-theme-balham {
      height: 450px !important;
    }
  }

  @media not all and (-webkit-min-device-pixel-ratio: 0) {
    .ag-theme-balham {
      height: 430px !important;
    }
  }

  .mrg-cntr {
    width: 103.4% !important;
  }

  @media only screen and (max-width: 480px) {
    .header_bg h4 {
      padding-left: 0px !important;
    }
    .header_bg .form-control {
      text-align: center !important;
    }
    .nav-item {
      width: 25% !important;
    }
    .nav-link {
      padding: 0px 0px !important;
    }
    .nav-tabs {
      margin-left: 16px !important;
    }
    .mrg-cntr {
      width: 113% !important;
    }

    .ag-theme-balham {
      height: 330px !important;
    }
    .footer button {
      width: 29% !important;
      font-size: 12px !important;
    }

    #searchright {
      text-align: center !important;
    }
    #searchright input {
      width: 258px !important;
    }
  }
  @media only screen and (min-device-width: 480px) and (max-device-width: 640px) and (orientation: landscape) {
    .nav-item {
      width: 12% !important;
    }

    .footer button {
      width: 17% !important;
    }
    .nav-link {
      padding: 0px 0px !important;
    }
    .header_bg h4 {
      padding-left: 0px !important;
    }
    .header_bg .form-control {
      text-align: center !important;
    }
    .mrg-cntr {
      width: 107% !important;
    }
    .ag-theme-balham {
      height: 142px !important;
    }
    #searchright input {
      width: 245px !important;
    }
    #searchright {
      text-align: center !important;
    }
  }

  @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: landscape) {
    .nav-item {
      width: 12% !important;
    }

    .footer button {
      width: 17% !important;
    }
    .nav-link {
      padding: 0px 0px !important;
    }
    .header_bg h4 {
      padding-left: 0px !important;
    }
    .header_bg .form-control {
      text-align: center !important;
    }
    .mrg-cntr {
      width: 107% !important;
    }
    .ag-theme-balham {
      height: 142px !important;
    }

    #searchright input {
      width: 245px !important;
    }
    #searchright {
      text-align: center !important;
    }
  }

  @media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape) {
    .nav-item {
      width: 12% !important;
    }

    .footer button {
      width: 17% !important;
    }
    .nav-link {
      padding: 0px 0px !important;
    }
    .header_bg h4 {
      padding-left: 0px !important;
    }
    .header_bg .form-control {
      text-align: center !important;
    }
    .mrg-cntr {
      width: 107% !important;
    }
    .ag-theme-balham {
      height: 142px !important;
    }
  }

  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
    .header_bg h4 {
      padding-left: 0px !important;
    }
    .nav-item {
      width: 12% !important;
    }
    .nav-link {
      padding: 0px 0px !important;
    }
    .col-md-9 {
      flex: 0 0 100% !important;
      max-width: 100% !important;
      text-align: center;
    }
    .col-md-3 {
      flex: 0 0 100% !important;
      max-width: 100% !important;
      text-align: center;
    }
    .footer button {
      width: 19% !important;
    }
    .mrg-cntr {
      width: 105% !important;
    }

    .searchlabel {
      width: 28%;
      text-align: right !important;
    }
    .inputlabel {
      width: 50%;
    }
  }

  #searchbox {
    border-radius: none !important;
    border: 1px solid black;
  }

  #open-project-error{
    color: red;
    font-size: 12px;
  }

  .logo {
    height: 30px;
    float: left;
    margin-left: 20px;
  }

}

