.form-signin {
  width: 100%;
  max-width: 466px;
  margin: auto;
}

.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}
.form-panel {
  background-color: #ccc;
  width: 466px;
  color: black;
  margin-top: 20px;
  border: 1px black solid;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -khtml-border-radius: 10px;
}

.form-group label {
  width: 20%;
  float: left;
  vertical-align: middle;
  font-size: 14px;
  padding-top: 3px !important;
}
.form-group {
  margin-bottom: 0.7rem !important;
}
.form-group input {
  width: 80%;
  border: 1px black solid !important;
  border-radius: 0% !important;
  height: 28px;
  color: #000 !important;
}

.no-margin-bottom {
  margin-bottom: 0px !important;
}

.form-group button {
  width: 30%;
  padding: 4px 10px !important;
  border-radius: 12px !important;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-color: #000;
  background-color: #f8ab39;
  font-size: 13px;
  color: #000;
}

.form-group button:hover {
  background-color: #ccc !important;
  color: #000 !important;
  border-color: #000;
}
.form-group button:visited {
  background-color: #ccc !important;
  color: #000 !important;
  border-color: #000;
}

/* Fallback for Edge
-------------------------------------------------- */

/* Fallback for IE
-------------------------------------------------- */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .form-label-group > label {
  }
  .form-label-group input:-ms-input-placeholder {
  }
}

@media only screen and (min-width: 200px) and (max-width: 670px) {
  .form-signin img {
    width: 80%;
  }
  .form-panel {
    width: 80% !important;
  }
  .form-group label {
    width: 40% !important;
  }
  .form-group input {
    width: 60% !important;
  }
}
