<div class="form-signin h-100">
  <div class="row h-100 justify-content-center align-items-center">
    <form [formGroup]="profileForm" (ngSubmit)="signin_clickHandler()">
      <div class="col-12">
        <div class="text-center">
          <img src="/assets/images/logo.png" alt="" />
        </div>
        <div class="form-panel mx-auto py-3 px-3">
          <div class="form-group">
            <label for="inputUsername">Username:</label>
            <input type="text" id="inputUsername" class="form-control" placeholder="" formControlName="username"
              required autofocus />
          </div>
          <div class="form-group">
            <label for="inputPassword">Password:</label>
            <input type="password" id="inputPassword" class="form-control" placeholder="" formControlName="password"
              required />
          </div>
          <div class="form-group no-margin-bottom text-right">
            <button class="btn btn-primary" type="submit">
              Log In
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>