  <div [ngStyle]="MS.COMPONENT_ID == 0 ? {'display':'flex'} : {'display':'none'}" class="scrollmenu scrollbarThin">
    <app-menu-goto></app-menu-goto>
    <app-menu-project></app-menu-project>
    <app-menu-import-report></app-menu-import-report>
  </div>

  <div [ngStyle]="MS.COMPONENT_ID == 1 ? {'display':'flex'} : {'display':'none'}" class="scrollmenu scrollbarThin">
    <app-menu-goto></app-menu-goto>
    <app-menu-project></app-menu-project>
    <app-menu-select-image></app-menu-select-image>
  </div>

  <div [ngStyle]="MS.COMPONENT_ID == 2 ? {'display':'flex'} : {'display':'none'}" class="scrollmenu scrollbarThin">
    <app-menu-goto></app-menu-goto>
    <app-menu-project></app-menu-project>
    <app-menu-align-scale></app-menu-align-scale>
    <app-menu-zoom></app-menu-zoom>
    <app-menu-input-length></app-menu-input-length>
  </div>

  <div [ngStyle]="MS.COMPONENT_ID == 3 ? {'display':'flex'} : {'display':'none'}" class="scrollmenu scrollbarThin" id="scrollbarThin" >
    <app-menu-goto></app-menu-goto>
    <app-menu-save-undo></app-menu-save-undo>
    <app-menu-clipboard></app-menu-clipboard>
    <app-menu-selection-types></app-menu-selection-types>
    <app-menu-current-values-line-editor></app-menu-current-values-line-editor>
    <app-menu-insert></app-menu-insert>
    <app-menu-modify></app-menu-modify>
    <app-menu-zoom></app-menu-zoom>
    <app-menu-settings-line-editor></app-menu-settings-line-editor>
  </div>

  <div [ngStyle]="MS.COMPONENT_ID == 4 ? {'display':'flex'} : {'display':'none'}" class="scrollmenu scrollbarThin" 
  (mouseup)="areaEditorMenu_upHandler($event)" (mousemove)="areaEditorMenu_moveHandler($event)">
    <app-menu-goto></app-menu-goto>
    <app-menu-project></app-menu-project>
    <app-menu-undo-redo componentID=4></app-menu-undo-redo>
    <app-menu-current-values-area-editor></app-menu-current-values-area-editor>
    <app-menu-zoom></app-menu-zoom>
  </div>

  <div [ngStyle]="MS.COMPONENT_ID == 5 ? {'display':'flex'} : {'display':'none'}" class="scrollmenu scrollbarThin">
    <app-menu-goto></app-menu-goto>
    <app-menu-project></app-menu-project>
    <app-menu-undo-redo componentID=5></app-menu-undo-redo>
    <app-menu-report></app-menu-report>
  </div>

  <app-menu-timer></app-menu-timer>

  

  
