div.scrollmenu {
  display: flex;
}

@media (max-width: 768px) {
  div.scrollmenu {
    overflow: auto;
    width: 100% !important;
  }
}

@media (min-width: 768px) and (max-device-width: 1024px) {
  .page-header-1 div.scrollmenu {
    width: 100% !important;
  }

  .page-header-2 div.scrollmenu {
    width: 66% !important;
    overflow: auto;
  }

  .page-header-3 div.scrollmenu {
    width: 50% !important;
    overflow: auto;
  }
  .page-header-4 div.scrollmenu {
    width: 85% !important;
    overflow: auto;
  }
  .page-header-5 div.scrollmenu {
    width: 71% !important;
    overflow: auto;
  }
}

@media (min-width: 1024px) and (max-device-width: 1366px) {
  .page-header-1 div.scrollmenu {
    width: 100% !important;
  }

  .page-header-2 div.scrollmenu {
    width: 90% !important;
  }
  .page-header-3 div.scrollmenu {
    width: 88% !important;
    overflow: auto;
  }
  .page-header-4 div.scrollmenu {
    width: 100% !important;
  }
  .page-header-5 div.scrollmenu {
    width: 100% !important;
  }
}

@media (min-width: 1024px) and (max-device-width: 1366px) and (orientation: portrait) {
  .page-header-3 div.scrollmenu {
    width: 71% !important;
    overflow: auto;
  }
}

/* for Firefox */
.scrollbarThin {
  scrollbar-width: thin;
  scrollbar-color: #f8ac39be #adacacef;
}

/* for Chrome */
.scrollbarThin::-webkit-scrollbar {
  height: 4px;
  background-color: #adacacef;
}

.scrollbarThin::-webkit-scrollbar-thumb {
  background-color: #f8ac39be;
}

.scrollbarThin:hover::-webkit-scrollbar-thumb {
  background-color: #f8ac39;
}

.card {
  padding-top: 5px;
}

.card select {
  border: 1px #000 solid;
  font-size: 11px;
  background-color: #fff;
}
@media (min-width: 1025px) {
  .dropDownResponsive {
    overflow: inherit !important;
  }
  .dropDownResponsiveAuto {
    overflow: auto;
  }
}
