.area-editor {
  width: 34% !important;
  float: left;

  .label-text {
    font-size: 20px;
    font-weight: bold;
    padding-left: 0px;
    color: #000;
    padding-left: 6px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .totalArea {
    text-align: right;
    font-size: 12px !important;
    color: #000 !important;
    margin-top: 5px;
  }
  .plus-minus-btn {
    z-index: 999999999999999999 !important;
  }
  .plus-minus-btn-style {
    font-size: 10px;
    background-color: lightgray;

    width: 13px;
    height: 14px;
    text-align: center;
    margin-top: 7px;
    color: #000;
  }
  .accord-panel-title {
    padding: 0px;
  }

  .col-4 {
    padding-left: 0px;
    padding-right: 0px;
  }

  .high-check {
    padding-top: 6px;
  }
  .recordRow .col-1,
  .col-2,
  .col-3,
  .col-4 {
    padding-left: 0px;
    padding-right: 0px;
    font-size: 11px;
    color: #5e5e5e;
  }
  .center {
    margin: auto;
    width: 50%;
  }
  .drag-drop-body {
    width: 100%;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #bcbdc0 !important;
    color: #fff;
    border: 1px #000 solid;
  }
  .action-buttons {
    width: 100%;
    border-left: 1px #000 solid;
    border-right: 1px #000 solid;
    border-bottom: 1px #000 solid;
  }

  .btn-row {
    border-bottom: 1px #000 solid;
  }

  .btn-row button {
    width: 25%;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #fff;
    background: #818285;
  }

  .btn-row button:hover {
    background-color: #f8ab39;
    color: #000;
  }
  .btn-row .btn {
    border-top: none;
    border-left: none;
    border-bottom: none;
    border-right: 1px #000 solid;
    border-radius: 0px !important;
    font-size: 14px;
  }
  .header-acc {
    margin-left: 0px;
    margin-right: 0px;
    background: #818285;
    color: #ffffff;
    border-left: 1px #000 solid;
    border-top: 1px #000 solid;
    border-right: 1px #000 solid;
    border-bottom: 1px #000 solid;
    padding-top: 3px;
    padding-bottom: 3px;
  }
  .header-acc div {
    padding-left: 7px;
    color: #ffffff;
  }
  .areaText {
    padding-right: 30px !important;
  }
  .labelText {
    text-align: right;
  }
  .left-bg {
    background-color: #ccc;
  }
  .accordion-item {
    width: 99.9%;
    margin-left: 0.1%;
  }
  .accordion-item:hover {
    background-color: #f8ab39;
  }
  .accordion-item-selected {
    background-color: #f8ab39;
  }

  .accordion-item-inner {
    display: flow-root;
    width: 100%;
    height: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .accordion-item-inner:hover {
    background-color: #f9b34d;
  }

  .accordion-item-inner-selected {
    background-color: #f9b34d;
  }

  .drp {
    height: 19px;
    border-radius: 1px !important;
    margin-bottom: 1px;
    font-size: 9px;
    float: left;
    margin-top: 5px;
    padding: initial;
  }

  .iwb-drp {
    width: 50px;
    margin-left: 2px;
  }

  .card-body {
    padding: 0;
  }
  .area-editor .card-body {
    border-top: none !important;
  }

  button {
    font-size: 11px !important;
  }

  .btn-group,
  .btn-group-vertical {
    display: inline !important;
  }

  .dropdown-item {
    font-size: 11px;
  }

  .dropup .dropdown-menu {
    height: 175px !important;
    width: 80px !important;
    overflow: auto;
  }
}

@media only screen and (max-width: 600px) {
  .area-editor {
    width: 100% !important;
    float: left;
  }

  .card select {
    padding: 0px 2px !important;
    margin-left: 0px;
  }

  .label-text {
    margin-left: 12px;
  }
  .btn-row .btn {
    font-size: 10px !important;
  }
  .subtract {
    padding-top: 2px;
    font-size: 9px !important;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .area-editor {
    width: 100% !important;
    float: left;
  }
}
