<div class="area-editor" @flyInOut (mouseup)="polygon_dropHandler()" (mousemove)="polygonDropArea_moveHandler($event)"  >
  <div class="row">
    <div class="col-12 left-bg">
      <div class="row header-acc">
        <div class="col-2 labelText">Label</div>
        <div class="col-2">Pitch</div>
        <div class="col-2">IWB</div>
        <div class="col-2">High</div>
        <div class="col-4 text-right areaText">Area sf</div>
      </div>

      <accordion [isAnimated]="true">
          
        <accordion-group *ngFor="let polygon of polygonData; let i = index;" [isOpen]="polygon.isOpen ">

          <div *ngIf="polygon.buildingsGroupUUID==engServ.getSelectedBuildingsGroup().uuid" (mouseup)="polygonInAccordion_dropHandler(i)" class="row accord-panel-title  accordion-item" 
          [class]="(polygon.selected == true ? 'accordion-item-selected': '' )" 
          accordion-heading (click)="selectUnSelect(i)" (click)="$event.stopPropagation()">

            <div class="col-1 plus-minus-btn" (click)="openAccordion(i)" (click)="$event.stopPropagation()">
              <div class="plus-minus-btn-style" > </div>
            </div>

            <div class="col-1 label-text">{{ polygon.alphabet }}</div>

            <div class="col-2">
              <select (change)="pitch_changeHandler(i, $event.target.value)" class="form-control drp">
                <option [selected]="polygon.rise == 0" value="0">0:12 (Flat)</option>
                <option [selected]="polygon.rise == 1" value="1">1:12 (Flat)</option>
                <option [selected]="polygon.rise == 2" value="2">2:12 (Low)</option>
                <option [selected]="polygon.rise == 3" value="3">3:12 (Low)</option>
                <option [selected]="polygon.rise == 4" value="4">4:12</option>
                <option [selected]="polygon.rise == 5" value="5">5:12</option>
                <option [selected]="polygon.rise == 6" value="6">6:12</option>
                <option [selected]="polygon.rise == 7" value="7">7:12 (Steep)</option>
                <option [selected]="polygon.rise == 8" value="8">8:12 (Steep)</option>
                <option [selected]="polygon.rise == 9" value="9">9:12 (Steep)</option>
                <option [selected]="polygon.rise == 10" value="10">10:12 (Steep)</option>
                <option [selected]="polygon.rise == 11" value="11">11:12 (Steep)</option>
                <option [selected]="polygon.rise == 12" value="12">12:12 (Steep)</option>
                <option [selected]="polygon.rise == 13" value="13">13:12 (Steep)</option>
                <option [selected]="polygon.rise == 14" value="14">14:12 (Steep)</option>
                <option [selected]="polygon.rise == 15" value="15">15:12 (Steep)</option>
                <option [selected]="polygon.rise == 16" value="16">16:12 (Steep)</option>
                <option [selected]="polygon.rise == 17" value="17">17:12 (Steep)</option>
                <option [selected]="polygon.rise == 18" value="18">18:12 (Steep)</option>
                <option [selected]="polygon.rise == 19" value="19">19:12 (Steep)</option>
                <option [selected]="polygon.rise == 20" value="20">20:12 (Steep)</option>
                <option [selected]="polygon.rise == 22" value="22">22:12 (Steep)</option>
                <option [selected]="polygon.rise == 24" value="24">24:12 (Steep)</option>
                <option [selected]="polygon.rise == 26" value="26">26:12 (Steep)</option>
                <option [selected]="polygon.rise == 28" value="28">28:12 (Steep)</option>
                <option [selected]="polygon.rise == 30" value="30">30:12 (Steep)</option>
                <option [selected]="polygon.rise == 32" value="32">32:12 (Steep)</option>
                <option [selected]="polygon.rise == 34" value="34">34:12 (Steep)</option>
                <option [selected]="polygon.rise == 36" value="36">36:12 (Steep)</option>
                <option [selected]="polygon.rise == 38" value="38">38:12 (Steep)</option>
                <option [selected]="polygon.rise == 40" value="40">40:12 (Steep)</option>
                <option [selected]="polygon.rise == 42" value="42">42:12 (Steep)</option>
                <option [selected]="polygon.rise == 44" value="44">44:12 (Steep)</option>
                <option [selected]="polygon.rise == 46" value="46">46:12 (Steep)</option>
                <option [selected]="polygon.rise == 48" value="48">48:12 (Steep)</option>
                <option [selected]="polygon.rise == 52" value="52">52:12 (Steep)</option>
                <option [selected]="polygon.rise == 56" value="56">56:12 (Steep)</option>
                <option [selected]="polygon.rise == 60" value="60">60:12 (Steep)</option>
                <option [selected]="polygon.rise == 64" value="64">64:12 (Steep)</option>
                <option [selected]="polygon.rise == 68" value="68">68:12 (Steep)</option>
                <option [selected]="polygon.rise == 72" value="72">72:12 (Steep)</option>
                <option [selected]="polygon.rise == 76" value="76">76:12 (Steep)</option>
                <option [selected]="polygon.rise == 80" value="80">80:12 (Steep)</option>
                <option [selected]="polygon.rise == 84" value="84">84:12 (Steep)</option>
                <option [selected]="polygon.rise == 88" value="88">88:12 (Steep)</option>
                <option [selected]="polygon.rise == 92" value="92">92:12 (Steep)</option>
                <option [selected]="polygon.rise == 96" value="96">96:12 (Steep)</option>
                <option [selected]="polygon.rise == 100" value="100">100:12 (Steep)</option>
              </select>
            </div>

            <div class="col-2">
              <select (change)="iwb_changeHandler(i,$event.target.value)" class="form-control drp iwb-drp" >
                <option [selected]="polygon.iwb == 0" value="0">0</option>
                <option [selected]="polygon.iwb == 3" value="3">3</option>
                <option [selected]="polygon.iwb == 6" value="6">6</option>
                <option [selected]="polygon.iwb == 9" value="9">9</option>
                <option [selected]="polygon.iwb == 12" value="12">12</option>
                <option [selected]="polygon.iwb == 15" value="15">15</option>
                <option [selected]="polygon.iwb == 18" value="18">18</option>
                <option [selected]="polygon.iwb == 21" value="21">21</option>
                <option [selected]="polygon.iwb == 24" value="24">24</option>
                <option [selected]="polygon.iwb == 27" value="27">27</option>
                <option [selected]="polygon.iwb == 30" value="30">30</option>
              </select>
            </div>
            
            <div class="col-1 high-check"><input type="checkbox" [checked]="allHigh" /></div>
   
            <div  class="col-4 totalArea">{{  polygon["totalSlopeArea"] }}</div>  

          </div>

          <div *ngIf="polygon.buildingsGroupUUID==engServ.getSelectedBuildingsGroup().uuid">   

            <div *ngFor="let shape of polygon.shape; let j = index" class="accordion-item-inner"
            (click)="selectUnSelectInner(i,j)" 
            [class]="(shape.selectedSVG == true  ? 'accordion-item-inner-selected': '' )">

              <div class="row recordRow">
                <div class="col-2 text-right">{{ shape['name'] }}</div>
                <div class="col-1 text-center">{{ polygon["alphabet"] }}{{j+1}}</div>
                <div class="col-2">
                  
                  <input type="checkbox" (click)="addArea(i,j, shape['slopeArea'])"  [id]="'add-'+i+'-'+j"
                    [disabled]="(shape['addArea'])"
                    [checked]="(shape['addArea'])"
                    /> Add
                  
                  </div>
                <div class="col-2 subtract">
                  
                  <input type="checkbox" (click)="subtractArea(i,j, shape['slopeArea'])" [id]="'sub-'+i+'-'+j"
                    [disabled]="(!shape['addArea'])" 
                    [checked]="(!shape['addArea'])"
                    /> Subtract
                  
                </div>
                <div [id]="'svg-'+polygon['alphabet']+j" class="col-3"></div>
                
                <div class="col-2">{{  shape["slopeArea"] }}</div>
                
              </div>
              
            </div>

          </div>

        </accordion-group>
        
      </accordion>

      <div class="drag-drop-body" (mouseup)="polygon_dropHandler()">Drag and Drop Here to Create Plane</div>
      <div class="action-buttons">
        <div class="btn-row">
          <button class="btn btn-primary" (click)="add_clickHandler()">Add</button>
          <button class="btn btn-primary" (click)="moveUp_clickHandler()">Move Up</button>
          <button class="btn btn-primary">Add Label</button>
          <button class="btn btn-primary" (click)="allHigh_clickHandler()">All High</button>
        </div>
        <div class="btn-group" dropdown #dropdown="bs-dropdown" [autoClose]="false">
          <ul *dropdownMenu class="dropdown-menu" role="menu">
            <li role="menuitem"><a class="dropdown-item" href="#">Action</a></li>
            <li role="menuitem"><a class="dropdown-item" href="#">Another action</a>
            </li>
            <li role="menuitem"><a class="dropdown-item" href="#">Something else
              here</a></li>
          </ul>
        </div>
        <div class="btn-row">
          <button class="btn btn-primary" (click)="deleteSelectedRows_clickHandler()">Delete</button>
          <button class="btn btn-primary" (click)="moveDown_clickHandler()">Move Down</button>
          <button class="btn btn-primary" (click)="expandAll_clickHandler()">Expand</button>

          <div class="btn-group" dropdown  [dropup]="true">
            <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
                    aria-controls="dropdown-dropup">
              Pitch <span class="caret"></span>
            </button>
            <ul *dropdownMenu class="dropdown-menu"
                role="menu" aria-labelledby="button-dropup">
              <li role="menuitem"><a class="dropdown-item" href="javascript:;" (click)="pitchSelectedRows_clickHandler(0)">0:12 (Flat)</a></li>
              <li role="menuitem"><a class="dropdown-item" href="javascript:;" (click)="pitchSelectedRows_clickHandler(1)">1:12 (Flat)</a></li>
              <li role="menuitem"><a class="dropdown-item" href="javascript:;" (click)="pitchSelectedRows_clickHandler(2)">2:12 (Low)</a></li>
              <li role="menuitem"><a class="dropdown-item" href="javascript:;" (click)="pitchSelectedRows_clickHandler(3)">3:12 (Low)</a></li>
              <li role="menuitem"><a class="dropdown-item" href="javascript:;" (click)="pitchSelectedRows_clickHandler(4)">4:12</a></li>
              <li role="menuitem"><a class="dropdown-item" href="javascript:;" (click)="pitchSelectedRows_clickHandler(5)">5:12</a></li>
              <li role="menuitem"><a class="dropdown-item" href="javascript:;" (click)="pitchSelectedRows_clickHandler(6)">6:12</a></li>
              <li role="menuitem"><a class="dropdown-item" href="javascript:;" (click)="pitchSelectedRows_clickHandler(7)">7:12 (Steep)</a></li>
              <li role="menuitem"><a class="dropdown-item" href="javascript:;" (click)="pitchSelectedRows_clickHandler(8)">8:12 (Steep)</a></li>
              <li role="menuitem"><a class="dropdown-item" href="javascript:;" (click)="pitchSelectedRows_clickHandler(9)">9:12 (Steep)</a></li>
              <li role="menuitem"><a class="dropdown-item" href="javascript:;" (click)="pitchSelectedRows_clickHandler(10)">10:12 (Steep)</a></li>
              <li role="menuitem"><a class="dropdown-item" href="javascript:;" (click)="pitchSelectedRows_clickHandler(11)">11:12 (Steep)</a></li>
              <li role="menuitem"><a class="dropdown-item" href="javascript:;" (click)="pitchSelectedRows_clickHandler(12)">12:12 (Steep)</a></li>
              <li role="menuitem"><a class="dropdown-item" href="javascript:;" (click)="pitchSelectedRows_clickHandler(13)">13:12 (Steep)</a></li>
              <li role="menuitem"><a class="dropdown-item" href="javascript:;" (click)="pitchSelectedRows_clickHandler(14)">14:12 (Steep)</a></li>
              <li role="menuitem"><a class="dropdown-item" href="javascript:;" (click)="pitchSelectedRows_clickHandler(15)">15:12 (Steep)</a></li>
              <li role="menuitem"><a class="dropdown-item" href="javascript:;" (click)="pitchSelectedRows_clickHandler(16)">16:12 (Steep)</a></li>
              <li role="menuitem"><a class="dropdown-item" href="javascript:;" (click)="pitchSelectedRows_clickHandler(17)">17:12 (Steep)</a></li>
              <li role="menuitem"><a class="dropdown-item" href="javascript:;" (click)="pitchSelectedRows_clickHandler(18)">18:12 (Steep)</a></li>
              <li role="menuitem"><a class="dropdown-item" href="javascript:;" (click)="pitchSelectedRows_clickHandler(19)">19:12 (Steep)</a></li>
              <li role="menuitem"><a class="dropdown-item" href="javascript:;" (click)="pitchSelectedRows_clickHandler(20)">20:12 (Steep)</a></li>
              <li role="menuitem"><a class="dropdown-item" href="javascript:;" (click)="pitchSelectedRows_clickHandler(22)">22:12 (Steep)</a></li>
              <li role="menuitem"><a class="dropdown-item" href="javascript:;" (click)="pitchSelectedRows_clickHandler(24)">24:12 (Steep)</a></li>
              <li role="menuitem"><a class="dropdown-item" href="javascript:;" (click)="pitchSelectedRows_clickHandler(26)">26:12 (Steep)</a></li>
              <li role="menuitem"><a class="dropdown-item" href="javascript:;" (click)="pitchSelectedRows_clickHandler(28)">28:12 (Steep)</a></li>
              <li role="menuitem"><a class="dropdown-item" href="javascript:;" (click)="pitchSelectedRows_clickHandler(30)">30:12 (Steep)</a></li>
              <li role="menuitem"><a class="dropdown-item" href="javascript:;" (click)="pitchSelectedRows_clickHandler(32)">32:12 (Steep)</a></li>
              <li role="menuitem"><a class="dropdown-item" href="javascript:;" (click)="pitchSelectedRows_clickHandler(34)">34:12 (Steep)</a></li>
              <li role="menuitem"><a class="dropdown-item" href="javascript:;" (click)="pitchSelectedRows_clickHandler(36)">36:12 (Steep)</a></li>
              <li role="menuitem"><a class="dropdown-item" href="javascript:;" (click)="pitchSelectedRows_clickHandler(38)">38:12 (Steep)</a></li>
              <li role="menuitem"><a class="dropdown-item" href="javascript:;" (click)="pitchSelectedRows_clickHandler(40)">40:12 (Steep)</a></li>
              <li role="menuitem"><a class="dropdown-item" href="javascript:;" (click)="pitchSelectedRows_clickHandler(42)">42:12 (Steep)</a></li>
              <li role="menuitem"><a class="dropdown-item" href="javascript:;" (click)="pitchSelectedRows_clickHandler(44)">44:12 (Steep)</a></li>
              <li role="menuitem"><a class="dropdown-item" href="javascript:;" (click)="pitchSelectedRows_clickHandler(46)">46:12 (Steep)</a></li>
              <li role="menuitem"><a class="dropdown-item" href="javascript:;" (click)="pitchSelectedRows_clickHandler(48)">48:12 (Steep)</a></li>
              <li role="menuitem"><a class="dropdown-item" href="javascript:;" (click)="pitchSelectedRows_clickHandler(52)">52:12 (Steep)</a></li>
              <li role="menuitem"><a class="dropdown-item" href="javascript:;" (click)="pitchSelectedRows_clickHandler(56)">56:12 (Steep)</a></li>
              <li role="menuitem"><a class="dropdown-item" href="javascript:;" (click)="pitchSelectedRows_clickHandler(60)">60:12 (Steep)</a></li>
              <li role="menuitem"><a class="dropdown-item" href="javascript:;" (click)="pitchSelectedRows_clickHandler(64)">64:12 (Steep)</a></li>
              <li role="menuitem"><a class="dropdown-item" href="javascript:;" (click)="pitchSelectedRows_clickHandler(68)">68:12 (Steep)</a></li>
              <li role="menuitem"><a class="dropdown-item" href="javascript:;" (click)="pitchSelectedRows_clickHandler(72)">72:12 (Steep)</a></li>
              <li role="menuitem"><a class="dropdown-item" href="javascript:;" (click)="pitchSelectedRows_clickHandler(76)">76:12 (Steep)</a></li>
              <li role="menuitem"><a class="dropdown-item" href="javascript:;" (click)="pitchSelectedRows_clickHandler(80)">80:12 (Steep)</a></li>
              <li role="menuitem"><a class="dropdown-item" href="javascript:;" (click)="pitchSelectedRows_clickHandler(84)">84:12 (Steep)</a></li>
              <li role="menuitem"><a class="dropdown-item" href="javascript:;" (click)="pitchSelectedRows_clickHandler(88)">88:12 (Steep)</a></li>
              <li role="menuitem"><a class="dropdown-item" href="javascript:;" (click)="pitchSelectedRows_clickHandler(92)">92:12 (Steep)</a></li>
              <li role="menuitem"><a class="dropdown-item" href="javascript:;" (click)="pitchSelectedRows_clickHandler(96)">96:12 (Steep)</a></li>
              <li role="menuitem"><a class="dropdown-item" href="javascript:;" (click)="pitchSelectedRows_clickHandler(100)">100:12 (Steep)</a></li>
            </ul>
          </div>
        </div>
        <ng-template #popoverTemplate_RENAME><input type='text' #text [value]="MS.menu_line_editor.TEXT" (input)='text_inputHandler(text.value)'></ng-template>
        <div class="btn-row">
          <button class="btn btn-primary"  [popover]="popoverTemplate_RENAME" [outsideClick]="true" placement="right" >Rename</button>
          <button class="btn btn-primary" (click)="resequence_clickHandler()">Resequence</button>
          <button class="btn btn-primary" (click)="collapseAll_clickHandler()">Collapse</button>
          <div class="btn-group" dropdown [dropup]="true">
            <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
                    aria-controls="dropdown-dropup">
              I&W <span class="caret"></span>
            </button>
            <ul *dropdownMenu class="dropdown-menu"
                role="menu" aria-labelledby="button-dropup">
                <li role="menuitem"><a class="dropdown-item" href="javascript:;" (click)="iwbSelectedRows_clickHandler(0)">0</a></li>
              <li role="menuitem"><a class="dropdown-item" href="javascript:;" (click)="iwbSelectedRows_clickHandler(3)">3</a></li>
              <li role="menuitem"><a class="dropdown-item" href="javascript:;" (click)="iwbSelectedRows_clickHandler(6)">6</a></li>
              <li role="menuitem"><a class="dropdown-item" href="javascript:;" (click)="iwbSelectedRows_clickHandler(9)">9</a></li>
              <li role="menuitem"><a class="dropdown-item" href="javascript:;" (click)="iwbSelectedRows_clickHandler(12)">12</a></li>
              <li role="menuitem"><a class="dropdown-item" href="javascript:;" (click)="iwbSelectedRows_clickHandler(15)">15</a></li>
              <li role="menuitem"><a class="dropdown-item" href="javascript:;" (click)="iwbSelectedRows_clickHandler(18)">18</a></li>
              <li role="menuitem"><a class="dropdown-item" href="javascript:;" (click)="iwbSelectedRows_clickHandler(21)">21</a></li>
              <li role="menuitem"><a class="dropdown-item" href="javascript:;" (click)="iwbSelectedRows_clickHandler(24)">24</a></li>
              <li role="menuitem"><a class="dropdown-item" href="javascript:;" (click)="iwbSelectedRows_clickHandler(27)">27</a></li>
              <li role="menuitem"><a class="dropdown-item" href="javascript:;" (click)="iwbSelectedRows_clickHandler(30)">30</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>