<div class="card save-undo">
    <div class="card-body">
      <div class="row">
        <div class="col">
          <div class="row_panel">
            
            <div class="action-content">
              <div class="panel" (click)="save_clickHandler()" title="Save">
                <div class="icon-class"><img src="assets/images/save.png" /></div>
              </div>
            </div>
            <div class="action-content">
              <div class="panel" (click)="saveAs_clickHandler()" title="Save as">
                <div class="icon-class"><img src="assets/images/save-as.png" /></div>
              </div>
            </div>
          </div>
          <div class="row_panel">
            <div class="action-content">
              <div class="panel" (click)="undo_clickHandler()" title="Undo">
                <div class="icon-class"><img src="assets/images/icons/undo.png" /></div>
              </div>
            </div>
            <div class="action-content">
              <div class="panel" (click)="redo_clickHandler()" title="Redo">
                <div class="icon-class"><img src="assets/images/icons/redo.png" /></div>
              </div>
            </div>
          </div>
        </div>
    </div>
    </div>
  </div>




  