.save-undo {
  margin-top: 5px;
}
.save-undo .row_panel {
  display: flex;
}
.save-undo .panel {
  width: 50%;
  display: flex;
  cursor: pointer;
  margin: 2px;
}
.save-undo .panel .icon-class img {
  width: 20px;
}
.action-content {
  width: 100%;
}
.action-content:hover {
  width: 100% !important;
  background-color: #ccc;
}
