<div class="card menu-clipboard">
    <div class="card-body">
      <div class="row">
        <div class="col">
          <div class="row_panel">
            <div class="action-content">
              <div class="panel" title="Cut">
                <div class="icon-class" (click)="cut_clickHandler()"><img src="assets/images/icons/cut.png" /></div>
              </div>
            </div>
            <div class="action-content">
              <div class="panel" (click)="copy_clickHandler()" title="Copy">
                <div class="icon-class"><img src="assets/images/icons/copy.png" /></div>
              </div>
            </div>
          </div>
          <div class="row_panel">
            <div class="action-content">
              <div class="panel" (click)="delete_clickHandler()" title="Delete">
                <div class="icon-class"><img src="assets/images/icons/delete.png" /></div>
              </div>
            </div>
            <div class="action-content">
              <div class="panel" (click)="paste_clickHandler()" title="Paste">
                <div class="icon-class"><img src="assets/images/icons/paste.png" /></div>
              </div>
            </div>
          </div>
        </div>
    </div>
    </div>
  </div>