  /* for Firefox */
  .ag-root {
    scrollbar-width: thin !important;
    scrollbar-color: #f8ac39be #adacacef !important;
  }
  
  /* for Chrome */ 
  .ag-root ::-webkit-scrollbar {
    height: 8px !important;
    width: 100% !important;
    background-color: #adacacef !important;
  }
  .ag-root ::-webkit-scrollbar-thumb{
    background-color: #f8ac39be !important;
  }
  
  .ag-root :hover::-webkit-scrollbar-thumb{
    background-color: #f8ac39 !important; 
  }



