<div class="card text-center menu-settings">
    <div class="card-body">
      <div class="row">
        <div class="col-cust-2">
          <div class="action-content" class="action-content {{
            MS.menu_line_editor.SHOW_IMAGE == true ? 'action-content-hover' : ''
          }} ">
            <a href="javascript:;" class="text-left" (click)="showImage_clickHandler()">
              <div class="divimg">
                <img src="assets/images/icons/show-image.png" alt="" />
              </div>
              <div class="lbl">Show Image</div>
            </a>
          </div>
          <div class="action-content" class="action-content {{
            MS.menu_line_editor.SHOW_DIMS == true ? 'action-content-hover' : ''
          }} ">
            <a href="javascript:;" class="text-left" (click)="showDims_clickHandler()">
              <div class="divimg">
                <img src="assets/images/icons/show-dims.png" alt="" />
              </div>
              <div class="lbl">Show Dims</div>
            </a>
          </div>
          <div class="action-content" class="action-content {{
            editDims_btn_enabled == true ? 'action-content-hover' : ''
          }} ">
            <a href="javascript:;" class="text-left" (click)="editDims_clickHandler()">
              <div class="divimg">
                <img src="assets/images/icons/edit-dims.png" alt="" />
              </div>
              <div class="lbl">Edit Dims</div>
            </a>
          </div>
        </div>
  
        <div class="col-cust-5 last-col">
          <div class="action-content">
            <input type="text" [value]="(MS.settings.GRID_SNAP_Length / 12)" class="input-menu" (input)="lengthSnap_inputHandler($event.target.value)" />
            <div class="lbl2">Length Snap</div>
          </div>
          <div class="action-content">
            <input type="text" [value]="MS.settings.RADIAL_DEGREES" class="input-menu" (input)="radialSnap_inputHandler($event.target.value)" />
            <div class="lbl2">Radial Snap</div>
          </div>
          <div class="action-content mrg-left">
            <a href="javascript:;" class="text-left" (click)="settings_clickHandler()">
              <div class="divimg">
                <img src="assets/images/icons/settings.png" alt="" />
              </div>
              <div class="lbl mrg-left-2 setting-btn">Settings</div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  