<footer class="container-fluid">
  <div class="footer">
    <div *ngIf="MS.COMPONENT_ID == 0">
      <app-footer-project-information></app-footer-project-information>
    </div>

    <div *ngIf="MS.COMPONENT_ID == 1">
      <app-footer-image-acquisition></app-footer-image-acquisition>
    </div>

    <div *ngIf="MS.COMPONENT_ID == 2">
      <app-footer-measure-align></app-footer-measure-align>
    </div>

    <div *ngIf="MS.COMPONENT_ID == 3">
      <app-footer-line-editor></app-footer-line-editor>
    </div>

    <div *ngIf="MS.COMPONENT_ID == 4"
      (mouseup)="areaEditorFooter_upHandler($event)" (mousemove)="areaEditorFooter_moveHandler($event)"
    >
      <app-footer-area-editor></app-footer-area-editor>
    </div>

    <div *ngIf="MS.COMPONENT_ID == 5">
      <app-footer-reports></app-footer-reports>
    </div>
  </div>
</footer>
