footer {
  background-color: #404040;
  position: absolute;
  bottom: 0px;
}

.footer {
  padding-left: 1.5rem;
  padding-right: 1.55rem;
  width: 100%;

  div {
    display: flex;
  }
}

app-footer-line-editor,
app-footer-image-acquisition,
app-footer-area-editor,
app-footer-project-information,
app-footer-reports,
app-footer-measure-align {
  width: 100%;
}
